a, a:hover, a:link, a:focus, a:visited {
    text-decoration: none !important;
}

.admin-content {
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ebebeb;
    min-height: 100vh;
}

.admin-content.dark {
    background-color: #111111;
}

.admin-content * {
    color: black;
}

.admin-content.dark * {
    color: rgba(255, 255, 255, .9);
}

.admin-content .title {
    padding-bottom: 10px;
}

.admin-content .title span {
    font-size: 1.4rem;
}

.admin-content .card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    width: 100%;
    border-radius: .25rem !important;
}

.admin-content .card.color-mode {
    background-color: white;
}

.admin-content .card.color-mode.dark {
    background-color: #1a1a1a;
}