body {
    background-color: #fff;
}

#login-content {
    background-color: transparent;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 50spx;
    z-index: 2 !important;
}

#login-content #image-link {
    height: 100%;
    margin-right: 2rem;
    width: 63.7188px;
}

#login-content #image-link img {
    height: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .19), 3px 3px 6px rgba(0, 0, 0, .23);
}

#login-content * {
    color: black;
}

img#admin-background {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 35vw;
    opacity: 0.2;
    z-index: -1 !important;
    filter: saturate(0);
}

@media only screen and (max-width: 768px) {
    img#admin-background {
        left: 10%;
        width: 90vw !important;
    }
}

.login-box-form {
    margin: 8% auto 0 auto;
}

form {
    margin-top: 4.5rem;
}

input:not([type="submit"]) {
    background-color: transparent;
    backdrop-filter: blur(4px);
    outline: none;
    box-shadow: none;
    border: 1px solid grey;
    padding: 5px 10px 5px 10px;
}

input:not([type="submit"]) {
    width: 330px;
}

@media only screen and (max-width: 468px) {
    input:not([type="submit"]) {
        width: 80%;
    }
}

input[type="submit"] {
    width: 165px;
}

input#logar {
    background-color: #19c880;
    color: white !important;
}

input#logar:hover {
    background-color: #118454;
}

a#forgot-password:hover {
    font-weight: bold;
}

p#not-account {
    margin-top: 5rem;
}

a#signup {
    color: #19c880 !important;
}

a#signup:hover {
    color: #118454 !important;
}

#copyright {
    text-align: left;
    font-size: 0.8rem;
}