<div class="w-100">
    <div class="w-50 mx-auto text-center">
        <img class="error-404" src="/img/error/error_404.png" alt="">
        <h3 class="mt-2">Oops! Página não encontrada</h3>
        <p>Parece que você pegou o caminho errado. Não se preocupe... isso acontece com os melhores de nós. Aqui está
            uma
            pequena dica que pode lhe ajudar a voltar aos trilhos. Você também pode usar a pesquisa para encontrar o que
            está procurando.</p>
        <a href="/admin/painel-de-controle" class="btn voltar-principal mt-2">Voltar a página principal</a>
    </div>
</div>