<div class="admin-footer px-4 py-3 d-flex flex-row">
    <a href="/">
        <img src="/img/bella-clothes-logo.png" alt="" class="rounded" id="bella-clothes-logo-footer">
    </a>
    <div class="flex-grow-1 footer-copyright ml-2 mr-2">© <span id="year-copyright"></span> Copyright:
        <a href="/" id="bellaClothesUrl"> BellaClothes.com</a>.
        Todos os direitos reservados
    </div>
    <a href="/politica-de-privacidade" id="privacy-policy">Política de Privacidade</a>
</div>