<footer class="page-footer font-small elegant-color">

  <div class="color-primary">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Fique conectado com a gente nas redes sociais!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right social-icons-footer">

          <!-- Facebook -->
          <a class="fb-ic" href="">
            <i class="bi bi-facebook white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="">
            <i class="bi bi-twitter white-text mr-4"> </i>
          </a>
          <!-- Youtube -->
          <a class="tw-ic" href="">
            <i class="bi bi-youtube white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="">
            <i class="bi bi-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
<hr class="mx-auto" width="90%" size="10">
  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Institucional</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Sobre a Bella Clothes</a>
          </li>
          <li class="mb-2">
            <a href="#">Blog</a>
          </li>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Ajuda</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#!">Minha Conta</a>
          </li>
          <li class="mb-2">
            <a href="#!">Meus Pedidos</a>
          </li>
          <li class="mb-2">
            <a href="#!">Entregas</a>
          </li>
          <li class="mb-2">
            <a href="#!">Como Comprar</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Política</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Regulamentos</a>
          </li>
          <li class="mb-2">
            <a href="#!">Política de Privacidade</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

       <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Central de Relacionamento</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        
        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a class="font-weight-bold" href="#!">TIRE SUAS DÚVIDAS</a>
          </li>
        </ul>
  
      </div>

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5>Política</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <i class="bi bi-house-fill"></i> Belo Horizonte, Rua das Avenidas, 10
          </li>
          <li class="mb-2">
            <i class="bi bi-envelope-fill"></i> bellaclothes@outlook.com
          </li>
          <li class="mb-2">
            <i class="bi bi-telephone-fill"></i> + 01 234 567 88
          </li>
          <li class="mb-2">
            <i class="bi bi-printer-fill"></i> + 01 234 567 89
          </li>
        </ul>

      </div>

  
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> BellaClothes.com</a>
  </div>
  <!-- Copyright -->

</footer>