<nav class="main-navbar d-flex px-4 align-items-center">
    <i class="bi bi-list sidebar-toggle"></i>
    <i class="bi bi-arrows-fullscreen ml-auto full-screen-toggle"></i>
    <i class="bi bi-grid-fill ml-3 customize-toggle"></i>
</nav>