<nav class="navbar navbar-collapse navbar-expand-md navbar-blog">
    <a href="/" class="btn ir-loja py-1">Ir para a loja</a>
    <div class="d-flex flex-row flex-wrap flex-grow-1 justify-content-center">
        <h3 class="mr-3 font-weight-bold"><i>BLOG</i></h3>
        <img src="/img/bella-clothes-logo.png" alt="logo" class="logo-icon mt-1 mr-2 rounded">
        <h4 class="mb-0">Bella Clothes</h4>
    </div>
</nav>