<div class="utility-nav d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="small"><i class="bi bi-envelope-fill"></i> bellaclothes@.outlook.com | <i
                        class="bi bi-telephone-fill"></i> + 1 234 567 88
                </p>
            </div>

            <div class="col-12 col-md-6 text-right">
                <a href="#" class="small">Ajuda</a>
            </div>
        </div>
    </div>
</div>
<div class="modal-background"></div>

<nav class="navbar navbar-collapse navbar-expand-md navbar-simple">
    <div class="d-flex flex-row flex-wrap flex-grow-1 justify-content-center">
        <a href="/" style="display: inline-flex;">
            <img src="/img/bella-clothes-logo.png" alt="logo" class="logo-icon mr-2 rounded">
            <h4 class="mb-0">Bella Clothes</h4>
        </a>
    </div>
</nav>