<!-- Primeira Nav (Cinza)-->
<div class="utility-nav d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="small"><i class="bi bi-envelope-fill"></i> bellaclothes@.outlook.com | <i
            class="bi bi-telephone-fill"></i> + 1 234 567 88
        </p>
      </div>

      <div class="col-12 col-md-6 text-right">
        <a href="#" class="small">Ajuda</a>
      </div>
    </div>
  </div>
</div>



<!-- Nav com a Search Box -->
<nav class="navbar navbar-collapse navbar-expand-md navbar-light main-menu">
  <div class="container">
    <a class="navbar-brand text-left mx-auto" href="#">
      <h4 class="font-weight-bold"><img src="/img/bella-clothes-logo.png" alt="logo" class="logo-icon mb-1"> Bella
        Clothes</h4>
    </a>
    <form class="form-inline mt-3 mx-auto">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group search-box-input-g">
          <input type="search" size="80" placeholder="Procure por produtos..." aria-describedby="button-addon1"
            width="2" class="search-bar-input form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link icon-search"><i
                class="bi bi-search"></i></button>
          </div>
        </div>
      </div>
    </form>

    <ul class="navbar-nav mx-auto mb-1">
      <li class="nav-item">
        <a class="" href="#"><i class="bi bi-cart2 icon-single"></i> <span class="badge badge-danger">3</span></a>
        <a class="login ml-4" href="#"><i class="bi bi-person-circle mr-1"></i> Entrar</a>
      </li>
    </ul>
  </div>

  </div>
</nav>


<!-- Nav de Itens -->
<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
  <div class="container">
    <a href="#" class="navbar-brand"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>


        <li class="nav-item dropdown">
          <form>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <div class="container">
                <ul id="tabs" class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Homem</a>
                  </li>
                  <li class="nav-item">
                    <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Mulher</a>
                  </li>
                  <li class="nav-item">
                    <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Unissex</a>
                  </li>
                  <li class="nav-item">
                    <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Infantil</a>
                  </li>
                </ul>


                <div id="content" class="tab-content" role="tablist">
                  <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">

                    <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                      <div class="card-body">
                        <div class="d-md-flex align-items-start justify-content-start">
                          <div class="">
                            <div class="dropdown-header">
                              <h5 class="text-success font-weight-bold">Roupas</h5>
                            </div>
                            <a class="dropdown-item" href="#">Camisas</a>
                            <a class="dropdown-item" href="#">Blusas</a>
                            <a class="dropdown-item" href="#">Bermudas</a>
                            <a class="dropdown-item" href="#">Calças</a>
                            <a class="dropdown-item" href="#">Camisas sem Manga</a>
                            <a class="dropdown-item" href="#">Camisas de Mangas Compridas</a>
                          </div>
                          <div class="">
                            <div class="dropdown-header">
                              <h5 class="text-success font-weight-bold">Calçados</h5>
                            </div>
                            <a class="dropdown-item" href="#">Sapatos</a>
                            <a class="dropdown-item" href="#">Tênis</a>
                            <a class="dropdown-item" href="#">Sapatênis</a>
                            <a class="dropdown-item" href="#">Botas</a>
                            <a class="dropdown-item" href="#">Chinelos</a>
                          </div>
                          <div class="">
                            <div class="dropdown-header">
                              <h5 class="text-success font-weight-bold">Acessórios</h5>
                            </div>
                            <a class="dropdown-item" href="#">Brincos</a>
                            <a class="dropdown-item" href="#">Anéis</a>
                            <a class="dropdown-item" href="#">Relógios</a>
                            <a class="dropdown-item" href="#">Bolsas</a>
                            <a class="dropdown-item" href="#">Pulseiras</a>
                          </div>
                          <div class="">
                            <div class="dropdown-header">
                              <h5 class="text-success font-weight-bold">Esporte</h5>
                            </div>
                            <a class="dropdown-item" href="#">Camisas</a>
                            <a class="dropdown-item" href="#">Blusas</a>
                            <a class="dropdown-item" href="#">Tênis</a>
                            <a class="dropdown-item" href="#">Bolas</a>
                            <a class="dropdown-item" href="#">Chuteiras</a>
                            <a class="dropdown-item" href="#">Luvas</a>
                          </div>
                          <div class="">
                            <div class="dropdown-header">
                              <h5 class="text-success font-weight-bold">Cosméticos</h5>
                            </div>
                            <a class="dropdown-item" href="#">Shampoos</a>
                            <a class="dropdown-item" href="#">Condicionadores</a>
                            <a class="dropdown-item" href="#">Perfumes</a>
                            <a class="dropdown-item" href="#">Desodorantes</a>
                            <a class="dropdown-item" href="#">Loções</a>
                            <a class="dropdown-item" href="#">Hidratantes</a>
                            <a class="dropdown-item" href="#">Protetores Solar</a>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                    <div class="card-header" role="tab" id="heading-B">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" data-parent="#content"
                          aria-expanded="false" aria-controls="collapse-B">
                          Collapsible Group Item B
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                      <div class="card-body">
                        [Tab content B]
                      </div>
                    </div>
                  </div>

                  <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                    <div class="card-header" role="tab" id="heading-C">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" data-parent="#content"
                          aria-expanded="false" aria-controls="collapse-C">
                          Collapsible Group Item C
                        </a>
                      </h5>
                    </div>
                    <div id="collapse-C" class="collapse" role="tabpanel" aria-labelledby="heading-C">
                      <div class="card-body">
                        [Tab content C]
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link font-weight-bold td-categorias" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" href="#"><i class="bi bi-list" size="10"></i> Todas as
            Categorias</a>
          <div class="dropdown-menu" aria-labelledby="servicesDropdown">

            <div class="d-md-flex align-items-start justify-content-start">
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Homem</h5>
                </div>
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Blusas</a>
                <a class="dropdown-item" href="#">Tênis</a>
                <a class="dropdown-item" href="#">Botas</a>
                <a class="dropdown-item" href="#">Chinelos</a>
                <a class="dropdown-item" href="#">Acessórios</a>
              </div>
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Mulher</h5>
                </div>
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Blusas</a>
                <a class="dropdown-item" href="#">Tênis</a>
                <a class="dropdown-item" href="#">Botas</a>
                <a class="dropdown-item" href="#">Chinelos</a>
                <a class="dropdown-item" href="#">Acessórios</a>
              </div>
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Infantil</h5>
                </div>
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Blusas</a>
                <a class="dropdown-item" href="#">Bodies e Macacões</a>
                <a class="dropdown-item" href="#">Conjuntos</a>
                <a class="dropdown-item" href="#">Pijamas</a>
                <a class="dropdown-item" href="#">Acessórios</a>
              </div>
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Unissex</h5>
                </div>
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Blusas</a>
                <a class="dropdown-item" href="#">Tênis</a>
                <a class="dropdown-item" href="#">Botas</a>
                <a class="dropdown-item" href="#">Chinelos</a>
                <a class="dropdown-item" href="#">Acessórios</a>
              </div>
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Esportes</h5>
                </div>
                <a class="dropdown-item" href="#">Camisas</a>
                <a class="dropdown-item" href="#">Blusas</a>
                <a class="dropdown-item" href="#">Tênis</a>
                <a class="dropdown-item" href="#">Chuteiras</a>
                <a class="dropdown-item" href="#">Luvas</a>
                <a class="dropdown-item" href="#">Bolas</a>
              </div>
              <div class="mr-4">
                <div class="dropdown-header">
                  <h5 class="text-success font-weight-bold">Cosméticos</h5>
                </div>
                <a class="dropdown-item" href="#">Perfumes</a>
                <a class="dropdown-item" href="#">Maquiagens</a>
                <a class="dropdown-item" href="#">Desodorantes</a>
                <a class="dropdown-item" href="#">Loções</a>
                <a class="dropdown-item" href="#">Hidratantes</a>
                <a class="dropdown-item" href="#">Protetores Solar</a>
              </div>
            </div>
          </div>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="#">Novidades</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Promoções</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nós</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>$('.dropdown-menu .nav-tabs .nav-link').on("click.bs.dropdown", function (e) {
    $(this).tab('show');
    e.stopPropagation();
  });</script>