<nav class="main-sidebar open">
    <div id="sidebar-background-image"></div>
    <a href="/" class="d-flex flex-row title px-4 py-0">
        <img src="/img/bella-clothes-logo.png" alt="Bella Clothes logo" class="title-image rounded">
        <p class="title-text pl-2">Bella Clothes</p>
    </a>

    <hr style="margin-bottom: 0;">

    <div class="sidebar pt-2">
        <a href="/usuario/meus-dados" class="d-flex flex-row user px-3">
            <label style="--foto-perfil-usuario: url(/img/foto-usuarios/{{user.foto}})" alt="Imagem de perfil"
                class="user-image"></label>
            <p class="user-name pl-2">{{nomeUsuario}}</p>
        </a>
        <hr>

        <div class="flex-list">
            <a class="d-flex flex-row px-4 main-title sidebar-link painel-controle">
                <i class="bi bi-house"></i>
                <p class="flex-grow-1">Painel de Controle</p>
                <i class='bi bi-chevron-right'></i>
            </a>
            <div class="sub-list">
                <a href="/admin/painel-de-controle"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-home">
                    <i class="bi bi-speedometer2"></i>
                    <p>Home</p>
                </a>
                <a href="/admin/painel-de-controle/pedidos"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-pedidos">
                    <i class="bi bi-receipt-cutoff"></i>
                    <p>Pedidos</p>
                </a>
                <a href="/admin/painel-de-controle/receita-de-vendas"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-receita-vendas">
                    <i class="bi bi-cash-coin"></i>
                    <p>Receita de Vendas</p>
                </a>
                <a href="/admin/painel-de-controle/quantidade-de-vendas"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-quantidade-vendas">
                    <i class="bi bi-cart3"></i>
                    <p>Quantidade de Vendas</p>
                </a>
                <a href="/admin/painel-de-controle/usuarios"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-usuarios">
                    <i class="bi bi-people"></i>
                    <p>Usuários</p>
                </a>
                <hr>
            </div>
        </div>


        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title sidebar-link usuarios">
                <i class="bi bi-people"></i>
                <p class="flex-grow-1">Usuários</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="/admin/ver-usuarios" class="d-flex flex-row px-4 sub-title sidebar-link ver-usuarios">
                    <i class="bi bi-person-lines-fill"></i>
                    <p>Ver Usuários</p>
                </a>
                <a href="/admin/ver-pedidos" class="d-flex flex-row px-4 sub-title sidebar-link ver-pedidos">
                    <i class="bi bi-receipt-cutoff"></i>
                    <p>Pedidos</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title sidebar-link produtos">
                <i class="bi bi-box"></i>
                <p class="flex-grow-1">Produtos</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="/admin/ver-produtos" class="d-flex flex-row px-4 sub-title sidebar-link ver-produtos">
                    <i class="bi bi-box-seam"></i>
                    <p>Ver Produtos</p>
                </a>
                <a href="/admin/produtos/categorias" class="d-flex flex-row px-4 sub-title sidebar-link ver-categorias">
                    <i class="bi bi-tag-fill"></i>
                    <p>Categorias</p>
                </a>
                <a href="/admin/produtos/ver-subcategorias"
                    class="d-flex flex-row px-4 sub-title sidebar-link ver-subcategorias">
                    <i class="bi bi-tags-fill"></i>
                    <p>Subcategorias</p>
                </a>
                <a href="/admin/produtos/avaliacoes" class="d-flex flex-row px-4 sub-title sidebar-link avaliacoes">
                    <i class="bi bi-list-stars"></i>
                    <p>Avaliações</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title sidebar-link blog">
                <i class="bi bi-card-text"></i>
                <p class="flex-grow-1">Blog</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="/admin/blog/posts" class="d-flex flex-row px-4 sub-title sidebar-link posts">
                    <i class="bi bi-pencil-square"></i>
                    <p class="flex-grow-1">Posts</p>
                </a>
                <a href="/admin/blog/categorias" class="d-flex flex-row px-4 sub-title sidebar-link categorias">
                    <i class="bi bi-bookmark-fill"></i>
                    <p>Categorias</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title sidebar-link outros">
                <i class="bi bi-three-dots"></i>
                <p class="flex-grow-1">Outros</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="/admin/pagina-inicial-loja"
                    class="d-flex flex-row px-4 sub-title sidebar-link pagina-inicial-loja">
                    <i class="bi bi-house-door"></i>
                    <p class="flex-grow-1">Página Inicial da Loja</p>
                </a>
                <a href="/admin/cupons-desconto" class="d-flex flex-row px-4 sub-title sidebar-link cupons-desconto">
                    <i class="bi bi-percent"></i>
                    <p>Cupons de Desconto</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title sidebar-link configuracoes">
                <i class="bi bi-gear"></i>
                <p class="flex-grow-1">Configurações</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="/admin/empresa" class="d-flex flex-row px-4 sub-title sidebar-link empresa">
                    <i class="bi bi-building"></i>
                    <p>Empresa</p>
                </a>
                <hr>
            </div>
        </div>

        <a href="/logout" class="d-flex flex-row px-4 logout">
            <i class="bi bi-box-arrow-right"></i>
            <p class="flex-grow-1">Sair</p>
        </a>
    </div>
</nav>