<nav class="main-sidebar">
    <div id="sidebar-background-image"></div>
    <a href="/" class="d-flex flex-row title px-4 py-0">
        <img src="/img/bella-clothes-logo.png" alt="Bella Clothes logo" class="title-image rounded">
        <p class="title-text pl-2">Bella Clothes</p>
    </a>

    <hr style="margin-bottom: 0;">

    <div class="sidebar pt-2">
        <a href="#" class="d-flex flex-row user px-3">
            <img src="/img/menina.jpg" alt="Imagem de perfil" class="user-image">
            <p class="user-name pl-2">Alexander Pierce</p>
        </a>
        <hr>

        <div class="flex-list">
            <a class="d-flex flex-row px-4 main-title sidebar-link painel-controle">
                <i class="bi bi-house"></i>
                <p class="flex-grow-1">Painel de Controle</p>
                <i class='bi bi-chevron-right'></i>
            </a>
            <div class="sub-list">
                <a href="/admin/painel-de-controle"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-home">
                    <i class="bi bi-speedometer2"></i>
                    <p>Home</p>
                </a>
                <a href="/admin/painel-de-controle/pedidos"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-pedidos">
                    <i class="bi bi-receipt-cutoff"></i>
                    <p>Pedidos</p>
                </a>
                <a href="/admin/painel-de-controle/receita-de-vendas"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-receita-vendas">
                    <i class="bi bi-cash-coin"></i>
                    <p>Receita de Vendas</p>
                </a>
                <a href="/admin/painel-de-controle/quantidade-de-vendas"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-quantidade-vendas">
                    <i class="bi bi-cart3"></i>
                    <p>Quantidade de Vendas</p>
                </a>
                <a href="/admin/painel-de-controle/usuarios"
                    class="d-flex flex-row px-4 sub-title sidebar-link painel-controle-usuarios">
                    <i class="bi bi-people"></i>
                    <p>Usuários</p>
                </a>
                <hr>
            </div>
        </div>


        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title">
                <i class="bi bi-people"></i>
                <p class="flex-grow-1">Usuários</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-person-lines-fill"></i>
                    <p>Ver Usuários</p>
                </a>
                <a class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-receipt-cutoff"></i>
                    <p>Pedidos</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title">
                <i class="bi bi-box"></i>
                <p class="flex-grow-1">Produtos</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="#" class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-box-seam"></i>
                    <p>Ver Produtos</p>
                </a>
                <a class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-tag-fill"></i>
                    <p>Categorias</p>
                </a>
                <a class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-tags-fill"></i>
                    <p>Subcategorias</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="d-flex flex-row px-4">
            <i class="bi bi-chat-left-text"></i>
            <p class="flex-grow-1">Blog</p>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title">
                <i class="bi bi-three-dots"></i>
                <p class="flex-grow-1">Outros</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="#" class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-house-door"></i>
                    <p class="flex-grow-1">Página Inicial da Loja</p>
                </a>
                <a href="#" class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-percent"></i>
                    <p>Cupons de Desconto</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="flex-list">
            <div class="d-flex flex-row px-4 main-title">
                <i class="bi bi-gear"></i>
                <p class="flex-grow-1">Configurações</p>
                <i class='bi bi-chevron-right'></i>
            </div>
            <div class="sub-list">
                <a href="#" class="d-flex flex-row px-4 sub-title">
                    <i class="bi bi-building"></i>
                    <p>Empresa</p>
                </a>
                <hr>
            </div>
        </div>

        <div class="d-flex flex-row px-4">
            <i class="bi bi-box-arrow-right"></i>
            <p class="flex-grow-1">Sair</p>
        </div>
    </div>
</nav>