<nav class="usuario-sidebar shadow">

    <div class="settings d-flex mb-4">
        <button class="usuario-sidebar-toggle">
            <span></span><span></span><span></span>

        </button>
        <span style="padding-top: 12px;" class="usuario-sidebar-text">Minha Conta</span>
    </div>
    <div class="scrollbar" id="style-1">

        <ul>
            <li>
                <a href="/usuario/:id/compras" class="sidebar-compras">
                    <i class="changeFill bi bi-bag"></i>
                    <span class="nav-text">Compras</span>
                </a>
            </li>

            <li>
                <a href="/usuario/:id/favoritos" class="sidebar-favoritos">
                    <i class="changeFill bi bi-heart"></i>
                    <span class="nav-text">Favoritos</span>
                </a>
            </li>

            <li>
                <a href="/usuario/:id/dados" class="sidebar-meus-dados">
                    <i class="bi bi-person-lines-fill"></i>
                    <span class="nav-text">Meus Dados</span>
                </a>
            </li>

            <li>
                <a href="/usuario/:id/seguranca" class="sidebar-segurança">
                    <i class="changeFill bi bi-lock"></i>
                    <span class="nav-text">Segurança</span>
                </a>
            </li>

            <li>
                <a href="/usuario/:id/privacidade" class="sidebar-privacidade">
                    <i class="changeFill bi bi-shield"></i>
                    <span class="nav-text">Privacidade</span>
                </a>
            </li>
        </ul>
</nav>