@media screen and (min-width: 768px) {
    .usuario-content {
        padding-left: 20% !important;
        padding-right: 0% !important;
    }
}

@media screen and (max-width: 768px) {
    .button-editar-endereco {
        margin-top: 10px;
    }
}

.usuario-content p {
    margin: 0 0 0 0 !important;
}

.usuario-content a {
    text-decoration: none !important;
}

.input-file-trigger {
    position: absolute;
    top: 73%;
    right: 3%;
    background-color: #19c880;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color .3s;
}

.input-file-trigger:hover {
    background-color: #118454;
    transition: background-color .3s;
}

.input-file-trigger i::before {
    vertical-align: -.425rem !important;
}

.input-file-remove {
    position: absolute;
    top: 53%;
    right: -7%;
    background-color: #eb5050;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color .3s;
}

.input-file-remove:hover {
    background-color: #920000;
    transition: background-color .3s;
}

.input-file-remove i::before {
    vertical-align: -.425rem !important;
}

.input-file {
    position: absolute;
    display: none;
}

.btn-alterar {
    background-color: #19c880 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: white !important;
    transition: background-color .3s !important;
}

.btn-alterar:hover {
    background-color: #118454 !important;
    color: white !important;
    transition: background-color .3s;
}

.button-excluir {
    background-color: #dc3545 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: white !important;
    transition: background-color .3s !important;
}

.button-excluir:hover {
    background-color: #9b2733 !important;
    color: white !important;
    transition: background-color .3s;
}

.button-adicionar-endereco {
    background-color: #19c880 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white !important;
    transition: background-color .3s !important;
}

.button-adicionar-endereco:hover {
    background-color: #118454 !important;
    color: white !important;
    transition: background-color .3s;
}

.button-adicionar-endereco i {
    font-size: .9rem;
}

.button-endereco-principal {
    background-color: #ccc !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: white !important;
    transition: background-color .3s !important;
}

.button-endereco-principal:hover {
    background-color: #666 !important;
    color: white !important;
    transition: background-color .3s;
}

.button-endereco-principal.active {
    background-color: #19c880 !important;
    cursor: inherit;
}

.bg-icone-cartao {
    background-color: rgb(244, 242, 242);
    width: 67px;
    height: 67px;
    border-radius: 100%;
    writing-mode: vertical-lr;
}

.icone-cartao {
    width: 100%;
    font-size: 30px;
}

.card-dados-conta .foto-perfil-usuario {
    position: relative;
    background-image: var(--foto-perfil);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto 2rem auto;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}