<div class="w-100 erro-500 mt-4 mb-4">
    <div class="w-50 mx-auto text-center">
        <img class="error-500" src="/img/error/error_500.png" alt="">
        <h3 class="mt-2">Erro Interno do Servidor</h3>
        <p>Pedimos desculpas, algo deu errado e já estamos trabalhando para corrigir o problema. Por favor tente
            novamente mais tarde.</p>
        <a href="/" class="btn voltar-principal mt-2">Voltar a página principal</a>
    </div>
</div>