<h3 class="title">
    Usuário
</h3>

<div class="card color-mode">
    <div class="card card-header"></div>
    <div class="card card-body">
        <div class="d-flex flex-row mb-3">
            <div>
                <img src="/img/menina.jpg" alt="" class="user-profile-image">
            </div>
            <div class="ml-2 flex-grow-1">
                <h4>Christhian Rezende Vieira</h4>
                <p>christhian11rv@hotmail.com</p>
            </div>
            <div>
                <a href="#" class="btn desativar-usuario">Desativar Usuário</a>
                <a href="#" class="btn excluir-usuario"><i class="bi bi-exclamation-circle text-light"></i> Excluir
                    Usuário</a>
            </div>
        </div>
        <hr>
        <div class="d-flex flex-row mt-1 pb-3">
            <div class="flex-grow-1">
                <h5>Informações do Perfil</h5>
                <div>
                    <p>Data de nascimento: 13/12/2002</p>
                    <p>Sexo: Masculino</p>
                    <p>CPF: 141.646.776-94</p>
                    <p>Telefones: (37) 99912-3249 / (11) 83217-3218</p>
                </div>
            </div>
            <div class="mini-cards d-flex flex-row flex-wrap mr-4">
                <div class="card compras mr-2">
                    <i class="bi bi-cart"></i>
                    <p>31 Compras</p>
                </div>
                <div class="card comentarios mr-2">
                    <i class="bi bi-chat-left-text-fill"></i>
                    <p>31 Comentários</p>
                </div>
                <div class="card favoritos">
                    <i class="bi bi-heart-fill"></i>
                    <p>31 Favoritos</p>
                </div>
            </div>
        </div>
    </div>
</div>