<h3 class="title">
    Pedidos
</h3>

<div class="card color-mode">
    <table id="table-pedidos" class="table table-sm table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>NOME</th>
                <th>E-MAIL</th>
                <th>PRODUTOS</th>
                <th>TOTAL</th>
                <th>STATUS</th>
                <th>DATA</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>