<h3 class="title">
    Usuários
</h3>

<div class="card color-mode">
    <table id="table-usuarios" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF/CNPJ</th>
                <th>Telefone</th>
                <th>Registro</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>