<h3 class="title">
    Usuários
</h3>

<div class="card color-mode">
    <table id="table-usuarios" class="table table-sm table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>NOME</th>
                <th>E-MAIL</th>
                <th>CPF/CNPJ</th>
                <th>STATUS</th>
                <th>REGISTRO</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>