<div class="ajuda-container">
    <div class="row">
        <div class="col-md-3 pr-0 d-flex flex-column ajuda-categorias">
            <button id="link-trocas-e-devolucoes" data-tab="trocas-e-devolucoes">Trocas e
                Devoluções</button>
            <button id="link-pagamentos" data-tab="pagamentos">Pagamentos</button>
            <button id="link-cancelamentos" data-tab="cancelamentos">Cancelamentos</button>
            <button id="link-minha-conta" data-tab="minha-conta">Minha conta</button>
            <button id="link-meus-pedidos" data-tab="meus-pedidos">Meus pedidos</button>
            <button id="link-entregas" data-tab="entregas">Entregas</button>
            <button id="link-como-comprar" data-tab="como-comprar">Como comprar</>
                <button id="link-politicas" data-tab="politicas">Políticas</>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="trocas-e-devolucoes">
            <div class="box-question">
                <div class="question">
                    <h6>Como faço para solicitar uma troca?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Você pode solicitar a troca em até 7 (sete) dias corridos após o recebimento do seu pedido,
                        é
                        muito simples! Acesse “Entrar”, clique em “Trocas e devoluções” e, após ter escolhido o item que
                        deseja trocar, clique em “Trocar" ou "Devolver” e siga os passos. A solicitação de troca será
                        realizada em menos de 1 minuto. Você receberá um e-mail com todas as instruções, mas fique
                        atento às
                        seguintes regras:
                        <br><br>
                        – Você deve enviar todos os itens da solicitação de troca;
                        <br>
                        – O produto deve ser devolvido em sua embalagem original;
                        <br>
                        – O produto não deve conter indícios de uso, inclusive produtos das categorias: roupa íntima e
                        moda
                        praia;
                        <br>
                        – O produto deve conter todas as etiquetas intactas;
                        <br>
                        – O produto deve ser enviado juntamente com a nota fiscal, manuais e acessórios;
                        <br>
                        – Se o produto tiver sido montado, ele deve ser desmontado por você com apoio do manual. Caso
                        entenda que seja necessário contratar um serviço de desmontagem, deverá fazê-lo diretamente com
                        uma
                        empresa de sua confiança e arcar com os custos correspondentes.
                        <br><br>
                        Se as regras não forem cumpridas, os itens da solicitação de devolução não serão coletados pelo
                        transportador ou serão devolvidos pra você.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Quais são as opções de reembolso para uma devolução?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Ao solicitar uma troca/devolução, você pode escolher entre receber o valor pago de volta, de
                        acordo com a forma de pagamento do pedido, ou um vale-troca. Veja abaixo os detalhes para cada
                        modalidade:
                        <br><br>
                        <strong>BOLETO</strong>
                        <br>
                        Se você pagou com boleto, o valor pago pelo produto será depositado em conta em até 5 dias
                        úteis.
                        <br><br>
                        <strong>Importante!</strong> Para que possamos fazer o depósito, os dados bancários devem ser do
                        titular do
                        cadastro em nosso site. Sugerimos que confira os números de agência e conta com dígito (se
                        houver) no seu cartão. Se você possuir conta conjunta, os dados informados devem ser do primeiro
                        titular do cartão, caso contrário, ocorrerá atraso na restituição em razão de dados incorretos.
                        Caso não tenha conta bancária em seu nome e CPF, podemos efetuar uma ordem de pagamento pelo
                        Banco Itaú.
                        <br><br>
                        <strong>CARTÃO DE CRÉDITO</strong>
                        <br>
                        Para compras realizadas com cartão de crédito, o estorno é solicitado junto à administradora do
                        cartão e pode levar de uma a duas faturas para que seja efetuado.
                        <br><br>
                        <strong>Importante!</strong> Para todos os métodos de restituição o valor correspondente será
                        liberado após a conformação do retorno da mercadoria e análise de qualidade.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="pagamentos">
            <div class="box-question">
                <div class="question">
                    <h6>Quais são as formas de pagamento aceitas no site?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Ao finalizar suas compras, você poderá escolher entre as seguintes formas de pagamento: cartão
                        de crédito, cartão de débito, pix e boleto bancário.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como faço para cadastrar meu cartão de crédito?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para facilitar suas compras, antes de finalizar seu pedido, cadastre os dados de seu cartão ao
                        clicar em “Adicionar cartão de crédito”. Dessa forma, você não precisará preencher seus
                        dados toda vez que comprar conosco. Para alterar os dados do cartão, faça login e vá até "Meus
                        dados".
                        <br><br>
                        <strong>Importante!</strong> Para sua segurança, os números do cartão de crédito são armazenados
                        de forma
                        criptografada no banco de dados e com protocolos de segurança. Além disso, sempre solicitamos o
                        código de segurança do seu cartão antes de finalizar um pedido.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como faço para comprar no cartão de débito?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        As transações via cartão de débito
                        precisam ser autenticadas pelo cliente. Alguns bancos podem pedir a senha do cartão, como o
                        Santander. No caso de reembolso de pedidos feitos por cartão de débito, vamos solicitar os dados
                        bancários, assim como já acontece no caso de pagamento via boleto bancário.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Qual é o prazo de vencimento do boleto bancário?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        O prazo de vencimento do boleto bancário é de 3 dias úteis contados a partir da data de emissão.
                        <br><br>
                        <strong>Importante!</strong> Os itens comprados só são reservados até o vencimento do boleto.
                        Não efetue o
                        pagamento do boleto após a data de vencimento!
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como faço para imprimir a segunda via de meu boleto?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Se você fez um pedido por boleto bancário e está dentro do prazo de vencimento, você pode
                        imprimi-lo ao acessar a seção “Entrar” e clicar em “Meus pedidos” e depois em "Visualizar
                        boleto".
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Qual é o prazo para confirmação de pagamento?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        A confirmação de pagamento do pedido pode levar até 2 (dois) dias úteis. Se após 3 dias úteis,
                        você não receber a confirmação por e-mail, entre em contato com nossa Central de Relacionamento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="cancelamentos">
            <div class="box-question">
                <div class="question">
                    <h6>Como faço para cancelar minha compra?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Se a forma de pagamento escolhida foi o boleto bancário e o pagamento ainda não foi efetuado, o
                        pedido será cancelado automaticamente no dia seguinte ao vencimento do boleto, sem ônus para
                        você. Se efetuou o pagamento com cartão de crédito e a Nota Fiscal não tiver sido emitida,
                        poderá solicitar o cancelamento ao entrar em contato com nossa Central de Relacionamento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="minha-conta">
            <div class="box-question">
                <div class="question">
                    <h6>A Bella Clothes possui lista de desejos?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Sim, para guardar os itens mais queridos da nossa loja você pode adicioná-los na lista de
                        desejos clicando no ícone de coração acima do botão “Adicionar ao carrinho”. E para conferir os
                        seus itens
                        desejados é só <a href="/usuario/1/favoritos">clicar aqui</a>.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como alterar os dados de cadastro?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para alterar seus dados <a href="/usuario/1/meus-dados">clique aqui</a>, faça o login (e-mail e
                        senha, se não tiver feito) e altere seus dados de
                        cadastro.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como atualizo o endereço do meu cadastro?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para atualizar o endereço do cadastro ou incluir um novo endereço, <a
                            href="/usuario/1/meus-dados">clique aqui</a>.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como eu faço para recuperar minha senha?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        No site da Bella Clothes clique em <a href="/login">Login</a>. Em seguida clique no link
                        "Esqueci
                        minha senha", para
                        redefinir.
                        <br><br>
                        Neste ponto, basta inserir seu e- mail ou CPF no local indicado e um e-mail de confirmação de
                        solicitação e criação de nova senha será enviado para o seu endereço eletrônico.
                        <br><br>
                        No e-mail o botão “Criar nova senha” estará em destaque, onde clicando você será direcionado e
                        poderá digitar uma nova senha para o cadastro.
                        <br><br>
                        Para segurança, o link do e-mail expira em 24 horas, caso não altere a senha neste período será
                        necessário fazer o processo novamente.
                        <br><br>
                        Atenção: Caso ainda não tenha recebido o e-mail, verifique o seu bloqueador de spam e o seu lixo
                        eletrônico.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como eu faço para excluir meu cadastro?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para escluir seu cadastro <a href="/usuario/1/meus-dados">clique aqui</a> e vá até "Excluir
                        conta". Assim, após aceitar a exclusão da conta, nossa Central de Relacionamento entrará em
                        contato com você.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como me cadastrar no site?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para realizar seu cadastro, clique no canto superior direito em <a href="/login">Login</a>. Em
                        seguida, clique no link "Ou criar uma conta", digite os dados solicitados e clique em Continuar.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como sair da minha conta no site?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para realizar o "logout" em nosso site, basta passar o mouse em cima do seu nome, no
                        canto superior direito da tela. Depois, é só clicar em "Sair".
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Esqueci meu e-mail, como proceder?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Se você esqueceu o e-mail que cadastrou em nosso site, basta acessar o <a
                            href="/login">Login</a>, digitar o CPF/CNPJ
                        cadastrado e a senha. Em minha conta, ao lado esquerdo da tela é possível visualizar o e-mail
                        cadastrado na conta.
                        <br><br>
                        Se desejar alterar, em meus dados clique em Alterar senha e e-mail.
                        <br><br>
                        Se mesmo assim tiver problemas para recuperar seu e-mail, entre em contato com nossa Central de
                        Relacionamento, que vamos ajudá-lo a recuperar.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Não consigo acessar a minha conta</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Você pode efetuar seu login no site da Bella Clothes com o seu endereço de e-mail e ou com o seu
                        numero do CPF/CNPJ.
                        <br><br>
                        Se você não se lembra do endereço do seu e-mail e ou sua senha, basta clicar em “Esqueci minha
                        senha” e inserir o número do seu CPF no campo indicado.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Não consigo acessar a minha conta</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Você pode efetuar seu login no site da Bella Clothes com o seu endereço de e-mail e ou com o seu
                        numero do CPF/CNPJ.
                        <br><br>
                        Se você não se lembra do endereço do seu e-mail e ou sua senha, basta clicar em “Esqueci minha
                        senha” e inserir o número do seu CPF no campo indicado.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="meus-pedidos">
            <div class="box-question">
                <div class="question">
                    <h6>Como posso acompanhar a entrega de meu pedido?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para acompanhar a entrega de sua encomenda em nosso site, acesse “Entrar” e, sucessivamente, vá
                        em "Meus pedidos". Enviaremos também um e-mail com o código de rastreamento de cada encomenda.
                        <br><br>
                        <strong>Importante!</strong> Serão feitas até 3 tentativas de entrega: em caso de ausência do
                        destinatário ou de
                        um responsável pelo recebimento, o produto voltará ao remetente. Não realizamos entregas no
                        exterior.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Qual é o prazo de entrega do meu pedido?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Após realizar a compra, o prazo de entrega será contado após confirmação dos seus dados
                        cadastrais e confirmação do pagamento, sendo que a análise de dados cadastrais poderá levar até
                        1 dia útil.
                        <br><br>
                        <strong>Importante!</strong> Os prazos de entrega são calculados a partir da data de aprovação
                        do pagamento e
                        variam de acordo com a modalidade de entrega escolhida e o CEP informado. Em alguns casos, é
                        possível optar pela entrega normal, expressa e agendada. Você pode escolher o tipo de entrega na
                        página de finalização da compra. Não realizamos entregas fora do Brasil.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Por que o prazo de entrega de alguns produtos é maior?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Alguns produtos possuem prazos de entrega mais longos porque possuem grande porte. Esses
                        produtos ficam armazenados em estoques fora do nosso Centro de Distribuição principal,
                        normalmente nos armazéns dos fornecedores. Somente após a confirmação do pagamento são
                        transferidos para o nosso Centro de Distribuição principal, onde são embalados e enviados para
                        você.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Como funcionam as embalagens para presentes?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        A embalagem chegará desmontada, dentro de um saquinho, para que você possa montá-la da maneira
                        como preferir. A Bella Clothes não possui embalagens no tamanho grande que comportem objetos
                        volumosos
                        como botas de cano longo. O modelo e o tamanho da embalagem não poderão ser
                        selecionados no momento da compra. Nossa equipe irá escolher a melhor opção de embalagem para o
                        seu produto. A embalagem não poderá ser trocada ou devolvida.
                        <br><br>
                        A Bella Clothes disponibiliza 3 tamanhos de embalagens:
                    </p>
                    <ul>
                        <li>Caixa pequena: 35x28x14 cm. Funciona para camisas, camisetas, roupas e calçados infantis.
                        </li>
                        <li>Caixa média: 35x35x14 cm. Indicada para calças e blusas.</li>
                        <li>Sacola grande: 38x35x17 cm. Ideal para caixas de calçados e casacos.</li>
                    </ul>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Por que meu pedido foi cancelado?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Inicialmente, verifique com sua operadora de cartão de crédito se existe algum impedimento para
                        que seu pedido seja concluído.
                        <br><br>
                        O pedido também pode ser cancelado caso tenha sido feito com a opção de boleto bancário, não
                        sendo pago até a data de vencimento.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="entregas">
            <div class="box-question">
                <div class="question">
                    <h6>Como é feita a entrega de produtos?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Todos os produtos vendidos e entregues pela Bella Clothes, além da embalagem do fabricante, são
                        enviados
                        em caixas ou envelopes exclusivos, desenvolvidos para garantir a qualidade dos produtos e evitar
                        avarias. Antes de receber a entrega, verifique se o pacote não está violado. Caso esteja, não
                        aceite o pacote e entre em contato com a Central de Relacionamento.
                        <br><br>
                        Se notar que o pedido foi violado somente depois de recebê-lo, por favor, entre em contato com a
                        gente em até 72 horas.
                        <br><br>
                        Quando um pedido contém mais de um produto, os itens podem ser entregues separadamente. Caso não
                        receba algum item de seu pedido, entre em contato com nossa Central de Relacionamento.
                        <br><br>
                        <strong>Importante!</strong> Quando a entrega for realizada pelos Correios em endereços de
                        difícil acesso ou de
                        risco, seu pedido poderá ser direcionado para retirada na unidade dos Correios mais próxima ao
                        CEP do destinatário. A cobrança do frete, se realizada no momento do fechamento da compra,
                        continuará valendo independentemente se a entrega for realizada no endereço indicado ou em uma
                        agência dos Correios.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Quais são os tipos de frete disponíveis?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Ao realizar seu pedido, digite o CEP do endereço de entrega e as opções de frete disponíveis
                        para a sua região serão exibidas automaticamente. O custo do frete será calculado durante o
                        processo de finalização da compra e você poderá visualizar o valor total antes de finalizar seu
                        pedido. Independente da modalidade de frete, as entregas serão realizadas somente em dias úteis,
                        de segunda à sexta-feira.
                        Disponibilizamos 2 tipos de entrega:
                        <br><br>
                        <strong>Normal:</strong> ao digitar o CEP do endereço de entrega, o valor e o prazo é calculado
                        automaticamente.
                        Veja as condições de frete.
                        <br><br>
                        <strong>Expresso:</strong> é o frete que garante uma entrega do seu pedido mais rápida que o
                        frete normal. O
                        prazo para essa modalidade varia de cidade para cidade e começa a contar a partir da aprovação
                        do pagamento. Consulte prazo, valor e disponibilidade na sua sacola de compras.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>A Bella Clothes monta os produtos?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Nossos produtos não possuem serviço de montagem. Mas não se preocupe, você receberá um manual
                        com o passo a passo completo.
                        <br><br>
                        Caso entenda que seja necessário contratar um serviço de montagem, você deverá fazê-lo
                        diretamente com uma empresa de sua confiança.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>A Bella Clothes realiza entregas aos finais de semana e feriados?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Não, as entregas são realizadas de segunda a sexta, das 8h às 18h.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>A Bella Clothes realiza entregas internacionais?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Não, as entregas são realizadas somente no Brasil.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Ainda não recebi meu pedido, o que fazer?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Se você não recebeu sua compra, primeiro confirme a previsão de entrega em “Meus Pedidos”. É só
                        acessar seu cadastro..
                        <br><br>
                        No rastreamento do pedido é possível consultar:
                        <br><br>
                        - Se a entrega foi realizada;
                        <br>
                        - Se o produto ficou disponível para retirada em alguma agência dos Correios;
                        <br>
                        - Se houve algum imprevisto e sua entrega foi adiada.
                        <br><br>
                        Você também pode consultar o status do seu pedido, enviando uma mensagem pelo nosso WhatsApp.
                        <br><br>
                        Nós fazemos até três tentativas de entrega em dias e horários diferentes. Converse com seus
                        familiares, amigos e vizinhos para ver se alguém recebeu sua compra ou se recusou.
                        <br><br>
                        Se, mesmo assim você não conseguir localizar sua compra, podemos te ajudar através do nosso
                        autoatendimento disponível por enquanto só no site:
                        <br><br>
                        1 É só clicar no botão “Preciso de ajuda”, disponível em “Meus Pedidos”, e selecionar o pedido.
                        <br><br>
                        2 Na tela seguinte clica em “Quero abrir um protocolo” e nosso time entrará em contato com a
                        transportadora para te ajudar com a entrega o mais rápido possível. O prazo de resposta do
                        protocolo é de até 6 dias úteis.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Meu pedido será entregue durante a greve dos Correios?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Se o seu pedido foi enviado através Correios, poderá levar um tempo maior para que a entrega
                        aconteça, mas estamos acompanhando de perto toda a situação para que você receba sua compra o
                        mais rápido possível.
                        <br><br>
                        Se você solicitou a devolução do seu pedido e não conseguiu enviar o produto, não se preocupe,
                        vamos estender o prazo de devolução da compra assim que a situação for normalizada.
                        <br><br>
                        Se tiver alguma dúvida ou precisar de ajuda com sua compra, continuamos com nossos canais de
                        atendimento disponíveis para você.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Posso alterar o endereço de entrega?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Após a conclusão do seu pedido, não é possível alterar o endereço de entrega. Para mais
                        informações entre em contato com nossa Central de Relacionamento pelos canais disponíveis no
                        rodapé.
                        <br><br>
                        Agora se ainda não finalizou a compra, você pode atualizar o endereço de entrega ou incluir um
                        novo na página <a href="/usuario/1/meus-dados">"Meus dados”</a>.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Se não tiver ninguém no local para receber meu pedido, o que acontece?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Serão realizadas três tentativas de entrega, em dias e horários diferentes. Caso não haja
                        sucesso, o produto retorna para o nosso Centro de Distribuição e será reenviado.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-9 ajuda-perguntas" id="como-comprar">
            <div class="box-question">
                <div class="question">
                    <h6>Como posso acompanhar a entrega de meu pedido?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Comprar na Bella Clothes é fácil e seguro.
                        <br><br>
                        Você precisa se cadastrar no nosso site, para isso <a href="/registrar/fisica">clique aqui</a>.
                        Após se cadastrar, escolha os
                        produtos que deseja comprar, selecione o tamanho e a cor de sua preferência e clique em
                        “Adicionar ao carrinho” **, para finalizar clique em "comprar".
                        <br><br>
                        Em seguida, você pode escolher a forma de pagamento e o endereço onde seu pedido será entregue.
                        Nessa etapa, você também consegue verificar informações sobre o prazo de entrega.
                        <br><br>
                        **Colocar o produto no carrinho de Compras não significa que você está comprando este produto ou
                        tenha uma reserva de compra do item, isso só ocorre após a finalização do seu pedido.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>É possível comprar por telefone?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Claro! Comprar pela Central de Televendas é rápido e fácil, basta ligar para um de nossos
                        telefones (no rodapé da página),
                        disponíveis das 08h às 20h40, de segunda a sábado.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como faço para achar o produto que quero?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para encontrar exatamente o que você está procurando, digite as características do produto – por
                        exemplo, “camiseta branca” – no campo de pesquisa e aperte "Enter" ou clique no ícone em forma
                        de lupa. Você também pode filtrar os resultados na página da loja dos produtos.
                        <br><br>
                        Para verificar se o produto que você deseja está disponível no seu tamanho, role até
                        "Especificações".
                        <br><br>
                        <strong>Importante!</strong> Colocar o produto no carrinho não garante a reserva do item. Todos
                        os produtos que
                        comercializamos são originais e suas Notas Fiscais são cadastradas junto à Receita Federal.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como faço para escolher meu tamanho?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Todas as informações do produto (material, cor e tamanho) estão descritas logo abaixo dele.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como faço para realizar um pedido?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Achou o produto que você queria? Escolha seu tamanho e
                        clique em “Adicionar ao carrinho”. Feito? Agora insira seu CEP para calcular o prazo de entrega,
                        faça seu login, escolha a forma de pagamento e clique em "Finalizar compra". Quando o pagamento
                        for confirmado, enviaremos um e-mail com a data prevista de entrega.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como faço para utilizar cupons?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para utilizar os cupons de desconto ou vales, no carrinho no lado direito está um campo para
                        inserir o código do seu cupom. Informe o código e clique em “Aplicar”. O desconto será calculado
                        automaticamente. Não é possível inserir cupom de desconto caso você já tenha finalizado sua
                        compra.
                        <br><br>
                        Só é possível usar um cupom de desconto por compra. Quer aproveitar nossos descontos antes de
                        todo mundo? Assine
                        nossa newsletter! Você receberá promoções e cupons exclusivos direto no seu e-mail e ainda
                        ficará por dentro das últimas novidades. Os cupons podem ter um valor mínimo de compra.
                        <br><br>
                        <strong>Importante!</strong> Os códigos dos cupons são sensíveis a letras maiúsculas e
                        minúsculas e
                        possuem data de validade. Antes de utilizar um cupom ou vale, verifique as regras vigentes para
                        os produtos que você deseja adquirir!
                        <br><br>
                        <strong>Como usar</strong>
                        <br>
                        1) Aplicar o cupom de desconto é muito simples, basta seguir os passos abaixo:
                        <br>
                        2) Escolha o produto que você quer e clique em "Adicionar ao carrinho";
                        <br>
                        3) No carrinho, ao lado direito aparecerá um campo para inserir o código do seu cupom;
                        <br>
                        4) Após inserí-lo, clique em aplicar;
                        <br>
                        5) Automaticamente o valor do desconto será subtraído do total de sua compra;
                        <br><br>
                        O cupom de desconto não é cumulativo e não se aplica a produtos marketplace, exceto em campanhas
                        específicas com produtos das marcas parceiras.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como faço para alterar meu endereço de entrega?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para alterar o endereço de entrega ou cobrança, acesse “Entrar” e clique em “Meus Dados”.
                        Nessa página, você poderá editar o endereço cadastrado ou adicionar um novo. A Bella Clothes não
                        efetua
                        entregas em caixas postais.
                        <br><br>
                        <strong>Importante!</strong> Por motivos de segurança, para pedidos já finalizados, não é
                        possível alterar o
                        endereço de entrega. A alteração do endereço só será possível para uma nova compra.
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Posso fazer o descadastramento do meu CPF?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Para solicitar o seu descadastramento e desvincular seu CPF da plataforma é necessário o envio
                        de um e-mail à nossa central de atendimento, informando o seu nome completo, número de CPF e o
                        motivo do descadastramento.
                        <br><br>
                        Você também pode entrar em contato com o nosso SAC, por telefone, e solicitar o seu descadastro.
                        Nós vamos analisar o seu pedido e te enviar um e-mail de confirmação, que precisa ser respondido
                        em até 48h. Caso contrário, não seguiremos com o descadastro, tá?!
                        <br><br>
                        Após sua confirmação, a nossa equipe avaliará a sua solicitação em até 10 dias úteis e
                        providenciará o seu descadastro.
                        <br><br>
                        Fique tranquilo! Você receberá um e-mail confirmando que o processo de descadastramento foi
                        finalizado.
                        <br><br>
                        <strong>Importante!</strong> Caso você tenha pedidos em aberto recomendamos que aguarde a
                        conclusão da entrega
                        para descadastrar o seu CPF. Isso, porque se você tiver algum problema com esses pedidos, você
                        não terá mais acesso as informações da sua conta.
                        <br><br>
                        A Bella Clothes poderá solicitar a cópia do seu documento caso encontre alguma inconsistência na
                        solicitação ou no cadastro.
                </div>
            </div>
        </div>
        <div class="col-md-9 ajuda-perguntas" id="politicas">
            <div class="box-question">
                <div class="question">
                    <h6>Comprar no site é seguro?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Pode comprar tranquilo! Para proteger todos os seus dados, contamos com os principais sistemas
                        de segurança:
                        <br><br>
                        - Criptografia (SSL) - Certificado do Site Blindado;
                        <br>
                        - Proteção contra roubo de informações e clonagem de cartão.
                        <br><br>
                        Por isso, garantimos que todos os seus dados pessoais como endereço de
                        entrega, dados de cartão de crédito e histórico de pedidos estão guardados a sete chaves em
                        nosso site.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Política de privacidade</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Confira nossa Política de Privacidade <a href="/politica/politica-de-privacidade">clicando
                            aqui</a>.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Meus dados pessoais serão compartilhados?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Não iremos vender, alugar ou transferir para terceiros seus dados, exceto, se necessário, para a
                        viabilização de processos de entrega, cobrança ou participação em promoções solicitadas por
                        você. Essas informações podem ser agrupadas e utilizadas internamente como estatísticas
                        genéricas para obter um melhor entendimento do perfil dos usuários e aperfeiçoar os produtos e
                        serviços oferecidos em nosso site. No caso de parceiros marketplace, que são responsáveis pela
                        emissão da nota fiscal e entrega do produto, poderá ser necessário compartilhar as informações
                        coletadas com terceiros nas seguintes hipóteses:
                        <br><br>
                        I. No desenvolvimento das atividades comerciais, por exemplo, mas não se limitando à operadoras
                        de cartão de crédito para o recebimento de pagamentos ou transportadoras para entregas de
                        produtos;
                        <br><br>
                        II. Para proteção dos nossos interesses em qualquer tipo de conflito, incluindo ações judiciais;
                        <br><br>
                        III. No caso de transações e alterações societárias envolvendo a empresa, hipótese cuja
                        transferência das informações será necessária para a continuidade dos serviços, ou mediante
                        ordem judicial, ou pelo requerimento de autoridades administrativas que detenham competência
                        legal para sua requisição. Para dar cumprimento à ordem judicial ou à decisão das autoridades
                        administrativas competentes.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>Propriedades das informações</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Todas as informações contidas neste site são de propriedade da Bella Clothes. Portanto, não
                        poderão ser
                        alteradas, copiadas, extraídas ou de qualquer forma utilizadas sem a prévia e expressa
                        autorização por escrito. Desta forma, ao acessar o site www.bellaclothes.com.br, o usuário fica
                        ciente
                        de que a utilização indevida das informações aqui contidas pode acarretar sanções civis e
                        criminais.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Histórico de visualização (cookies)</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Na Bella Clothes usamos cookies apenas para reconhecer um visitante constante e melhorar sua
                        experiência de navegação. Os cookies são pequenos arquivos de dados transferidos de um site da
                        web para o disco do seu computador e não armazenam dados pessoais.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Política de Combate à Pirataria</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        A Bella Clothes trata a pirataria de propriedade intelectual da seguinte forma:
                        <br><br>
                        <strong>1. Produtos PROIBIDOS em nossos Canais</strong>
                        <br><br>
                        A Bella Clothes adota a postura de tolerância zero com qualquer Parceiro que tenha a intenção de
                        utilizar os serviços da nossa plataforma como meio de realizar operações ilícitas e em desacordo
                        com normas e determinações legais ou em violação de direitos de terceiros.
                        A seguir são listadas as categorias e produtos cujo cadastro, oferta e venda estão TOTALMENTE
                        PROIBIDOS por meio de nossa plataforma de Marketplace, sob pena de ter seus produtos
                        imediatamente removidos sem aviso prévio. As infrações poderão ainda levar à suspensão da conta
                        do Parceiro, multa prevista em contrato, bem como o envio dos dados do infrator às autoridades
                        competentes, se for o caso.
                        A Bella Clothes reserva-se o direito de exibir apenas anúncios que estejam de acordo com sua
                        política de produtos permitidos para venda, bem como apenas produtos permitidos pela legislação
                        vigente.
                        São proibidos para venda nos Canais da Bella Clothes:
                        <br><br>
                        • Produtos usados
                        • Produtos roubados
                        • Produtos novos frutos de carga roubada ou furtada
                        • Produtos falsificados
                        • Produtos remanufaturados
                        • Produtos remanufaturados vendidos como novos
                        • Produtos adulterados
                        • Produtos vendidos e entregues sem Nota Fiscal
                        • Produtos vendidos e entregues com Nota Fiscal adulterada, falsificada ou referentes a produtos
                        diferentes aos vendidos.
                        • Produtos que demandem licenças e autorizações sem as devidas licenças e autorizações
                        • Produtos ou acessórios relacionados ao consumo de substâncias ilegais
                        • Produtos ofensivos e discriminatórios
                        <br><br>
                        <strong>2. Canal de Denúncia</strong>
                        <br><br>
                        Um detentor de direito de propriedade intelectual pode notificar a Bella Clothes de sua
                        convicção
                        de que a venda on-line de um ou mais produtos viola direito de propriedade intelectual e
                        solicitar que a Bella Clothes tome medidas em relação a tal convicção. Caso fez uma compra e
                        desconfie da legitimidade do mesmo nos informe.
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Como posso proteger minha conta?</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        Use uma senha diferente para cada conta ou dispositivo que você possui.
                        <br><br>
                        • Altere as suas senhas periodicamente, por exemplo, a cada 3 meses<br>
                        • Não compartilhe sua senha ou divulgue dados pessoais em sites que você não conhece<br>
                        • Sempre clique no botão sair quando não for mais navegar em um site<br>
                        • Escolha senhas com no mínimo oito caracteres. Para uma senha segura misture letras
                        maiúsculas<br>
                        e minúsculas, números e símbolos especiais (#,@,*,&,%,_ ou -)
                        • Não crie senhas usando seu nome ou datas especiais, como aniversário<br>
                        • Números de cartão de crédito, não devem ser compartilhados. Em nosso suporte a vendas, você
                        sempre será direcionado para digitação através do próprio telefone.<br>
                        • Assegure-se de que você esteja em um ambiente seguro, como o nosso site identificado pela
                        sigla “https”<br>
                        • Guarde sua senha num lugar seguro<br>
                        • Mantenha seus dados sempre atualizados<br>
                        • Não solicitamos senha, por telefone ou e-mail.<br>
                        • Não solicitamos instalação de programas de qualquer tipo, exceto do nosso app oficial.<br>
                        • Não fazemos interações pelo whatsApp e não solicitamos dados pessoais por este meio.<br>
                    </p>
                </div>
            </div>
            <div class="box-question">
                <div class="question">
                    <h6>
                        Canais Oficiais</h6>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="answer">
                    <p>
                        <a href="https://www.instagram.com/bellaclothes/">Instagram</a><br>
                        <a href="https://www.facebook.com/BellaClothes/">Facebook</a><br>
                        <a href="https://twitter.com/bellaclothes_brasil">Twitter</a>
                        <br><br>
                        <strong>Canais de Atendimento</strong><br>
                        Telefone: 11 1234-5678<br>
                        Belo Horizonte: 12 3456-7890
                        <br><br>
                        Cuidado com fraudes! Com o aumento das compras onlines, aumentaram também os casos de fraudes.
                        Seguimos comprometidos em garantir a melhor experiência de compra aos nossos clientes e a
                        segurança de informação, é parte muito importante nisso. Todas as contas oficiais possuem o selo
                        azul de conta verificada. Não compartilhe seus dados pessoais com qualquer conta não oficial da
                        marca, denuncie!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>