.card {
    padding: 10px 10px 10px 10px;
}

.card.produto {
    animation: fadein 1s;
}

.card.produto a.nome-produto:hover {
    text-decoration: none !important;
}

@keyframes fadein {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.card .d-flex {
    margin-bottom: 0px !important;
}

.card .d-flex .bd-highlight {
    word-break: break-all;
}

.card p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.card input[type=checkbox] {
    transform: scale(1.5);
}

.card input[type=checkbox], .label-embalar-presente {
    cursor: pointer;
}

.card hr {
    margin-top: 5px;
}

.card .remover .badge {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .card .remover .badge {
        font-size: 15px;
    }
}

.card .remover .badge:hover {
    color: #dc3545;
    background-color: #e6e6e6 !important;
}

.card #tamanho, .card #cor {
    border: 1px solid #d1d1d1;
    border-radius: .25rem;
    background-color: transparent;
    color: #515257 !important;
}

.card #tamanho:hover, .card #tamanho:focus, .card #cor:hover, .card #cor:focus {
    outline: none !important;
    box-shadow: none !important;
}

.card .pro-qty {
    width: 123px;
    height: 36px;
    border: 2px solid #bcbcbc;
    padding: 0 15px;
    float: left;
    margin-right: 14px;
}

.card .pro-qty .qtybtn {
    font-size: 24px;
    color: #b2b2b2;
    float: left;
    line-height: 28px;
    cursor: pointer;
    width: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card .pro-qty .qtybtn.dec {
    font-size: 25px;
}

.card .pro-qty .qtybtn.inc {
    font-size: 25px;
}

.card .pro-qty input {
    text-align: center;
    width: 52px;
    font-size: 16px;
    border: none;
    color: black;
    line-height: 30px;
    float: left;
    outline: none;
}

.desconto .btn-aplicar-desconto {
    font-weight: bold;
    display: inline-block;
    padding: 0 20px 0 20px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    box-shadow: none !important;
    margin-top: 0 !important;
    width: 100%;
}

.desconto .btn-aplicar-desconto:hover {
    background-color: #19c880;
    color: white;
}

#input-cupom-desconto {
    border: none;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#input-cupom-desconto:focus {
    border-radius: 0px;
    outline: none;
}

.card .btn-continuar {
    background-color: #19c880;
    font-weight: bold;
}

.card .btn-continuar:hover {
    background-color: #118454;
}

.card .btn-comprar-mais {
    background-color: none;
    color: #19c880;
    border: 1px solid #19c880;
    font-weight: bold;
}

button {
    box-shadow: none !important;
}

.related-products {
    padding-top: 0;
    padding-bottom: 50px;
}

.related-products .section-title {
    margin-bottom: 50px;
}

.related-products .section-title h2:before {
    display: none;
}

.owl-ProductsSectionEnd .owl-prev, .owl-ProductsSectionEnd .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-ProductsSectionEnd .owl-prev {
    left: -40px;
}

.owl-ProductsSectionEnd .owl-next {
    right: -40px;
}

button.owl-next:focus, button.owl-next:active, button.owl-next:visited, button.owl-next:hover, button.owl-next:link, button.owl-next, button.owl-prev:focus, button.owl-prev:active, button.owl-prev:visited, button.owl-prev:hover, button.owl-prev:link, button.owl-prev {
    outline: thin dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px !important;
}

.owl-ProductsSectionEnd .owl-nav button.owl-next, .owl-ProductsSectionEnd .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-ProductsSectionEnd .owl-nav button.owl-next:hover, .owl-ProductsSectionEnd .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important;
}

.badge-desconto {
    position: absolute;
    padding: .5rem 1rem !important;
    left: 8px;
    top: 16px;
    background: rgb(242, 242, 242);
    text-align: center;
    border-radius: 0px !important;
    color: #f15a69;
    font-size: 1rem !important;
}

@media screen and (max-width: 600px) {
    #badge-desconto {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 768px) {
    .col-resumo-compra {
        margin-top: 70px;
    }
}

.owl-hover .item {
    transition-duration: 0.4s;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.owl-hover a.item h5 {
    color: black;
}

.owl-hover a.item:hover h5 {
    color: #19c880;
}

.owl-hover .item:hover {
    transform: scale(1.05);
}

.image-product {
    position: relative;
}

.image-product .product-info {
    background: #19c880;
    width: 50px;
    height: 50px;
    position: absolute !important;
    top: 16px;
    right: 9px;
    border-radius: 0px 0px 0px 200px;
    transform: translateX(80px);
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
    z-index: 1;
}

.image-product .product-info:hover {
    width: calc(100% - 15px);
    border-radius: .5rem 0 .5rem .5rem;
    box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px 0px;
}

.owl-hover .item:hover .product-info {
    transform: translateX(0px);
}

.image-product .product-info .icon {
    position: absolute;
    right: 12px;
    top: 7px;
    color: white;
    -webkit-text-stroke: 0.5px white;
    opacity: 1;
}

.image-product .product-info:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}

.image-product .product-info:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}

.image-product .product-info .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}

.image-product .product-info .contents .row .col-sm-6 div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: .5rem;
}

.image-product .product-info .contents h1, .image-product .product-info .contents p, .image-product .product-info .contents table {
    color: white;
}

.image-product .product-info .contents p {
    font-size: 13px;
    padding: 0px !important;
    margin: 0px !important;
}

.image-product .product-info .contents p:first-child {
    font-weight: bold;
}

.image-product .product-add-favorite {
    position: absolute;
    bottom: 2rem;
    left: 10px;
    transform: translateX(-90px);
    transition: all 0.5s;
}

.owl-hover .item:hover .product-add-favorite {
    transform: translateX(0px);
    transition: all 0.5s;
}

.image-product .product-add-favorite i {
    color: #f15a69;
    font-size: 1.8rem;
    cursor: pointer;
}

.image-product .product-add-favorite i::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.image-product .product-add-favorite:not(.favorited) i::before {
    content: "\f417";
}

.image-product .product-add-favorite.favorited i::before {
    content: "\f415";
}