body {
    background-color: var(--light) !important;
}

.container-email-verificado {
    position: relative;
    width: 50%;
    margin: 5rem auto;
    background-color: #fff;
    border-radius: .5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container-email-verificado {
        width: 90%
    }
}

.container-email-verificado h4, .container-email-verificado h5 {
    font-weight: bold;
}

.container-email-verificado .bi-envelope-open-fill {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
    width: 100px;
    height: 100px;
    color: #19c880;
    background-color: var(--light);
    border-radius: 100%;
}

.container-email-verificado p {
    margin: 0;
}

.container-email-verificado a {
    margin-top: 1rem;
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 25px;
    background-color: #19c880;
    color: #fff !important;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    text-decoration: none !important;
}

.container-email-verificado a:hover {
    background-color: #118454;
}