@media screen and (max-width: 600px) {
  .badge-desconto {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .main-menu {
    position: sticky !important;
  }
}

.owl-carousel:not(:first-child) {
  margin-top: 1rem;
}

.custom_overlay_wrapper {
  position: relative;
  overflow: hidden;
  height: 35vw;
}

.custom_overlay_wrapper a img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.custom_overlay_inner {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  transform: translateY(-50%);
}

.custom_overlay_inner h2 {
  font-weight: bold;
}

.custom_overlay h2, .custom_overlay p {
  color: white;
  position: relative;
  margin-bottom: 4px;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.custom_overlay_inner p {
  text-align: justify;
}

.custom_overlay button {
  color: white;
  border: none;
  background-color: #19c880;
  padding: .25rem 1.5rem;
  font-size: 1.3rem;
}

.owl-dots {
  position: relative;
  top: -60px;
  outline: none !important;
  box-shadow: none !important;
}

.owl-dots *:focus {
  outline: unset !important;
  box-shadow: none !important;
  border: none !important;
}

.owl-dots .owl-dot.active span {
  background-color: #19c880 !important;
}

/*------------------- TABLET ------------------*/

@media only screen and ( min-width: 600px) and ( max-width: 999px) {
  .custom_overlay h2 {
    font-size: 1rem;
  }
  .custom_overlay button {
    font-size: 1rem;
  }
}

/*------------------- MOBILE ------------------*/

@media only screen and ( max-width: 599px) {
  .custom_overlay h2 {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .custom_overlay p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }
  .custom_overlay button {
    font-size: 0.8rem;
  }
}

.top-carousel-img {
  filter: brightness(40%);
}

.caption-top-carousel {
  top: 7em;
  bottom: auto;
}

.btn1 {
  font-weight: bold;
  display: inline-block;
  padding: 10px 25px;
  background-color: #19c880;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-estatico {
  background-color: #19c880!important;
  color: #ffffff!important;
}

.btn1:hover {
  background-color: #118454;
}

.btn1:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: white;
  background-repeat: no-repeat
}

.badge-desconto {
  position: absolute;
  padding: .5rem 1rem !important;
  left: 8px;
  top: 16px;
  background: rgb(242, 242, 242);
  text-align: center;
  border-radius: 0px !important;
  color: #f15a69;
  font-size: 1rem !important;
}

.profile-pic {
  width: 100% !important;
  height: 100px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important;
}

.owl-dot, .owl-dot:hover, .owl-dot:focus, .owl-dot:visited, .owl-dot:active, .owl-dot:link {
  outline: thin dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.owl-hover .item {
  transition-duration: 0.4s;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}

.owl-hover a.item h5 {
  color: black;
}

.owl-hover a.item:hover h5 {
  color: #19c880;
}

.owl-carousel, .owl-carousel .owl-stage-outer, .owl-carousel .owl-stage-outer .owl-stage, .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  padding-bottom: .5rem;
}

.owl-hover .item:hover {
  transform: scale(1.05);
}

.item .add-cart {
  background-color: #19c880;
  color: white;
}

.item .add-cart:hover {
  background-color: #17af70;
  color: white;
}

.img-carousel-categorys {
  height: 20%;
  margin-bottom: 10px;
}

.owl-carousel {
  align-items: center !important;
  width: 90% !important;
}

button.owl-next:focus, button.owl-next:active, button.owl-next:visited, button.owl-next:hover, button.owl-next:link, button.owl-next, button.owl-prev:focus, button.owl-prev:active, button.owl-prev:visited, button.owl-prev:hover, button.owl-prev:link, button.owl-prev {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.container-fluid {
  background-color: white;
}

.product_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.product_heading h2 {
  padding: 10px 20px;
  background-color: #19c880;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.owl-prev, .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}

.owl-prev i, .owl-next i {
  transform: scale(2, 5);
  color: #ccc;
}

.img-banner {
  width: 97%;
}

a, a:visited, a:hover {
  text-decoration: none !important;
}

.banner {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-text {
  padding: 200px 0 150px 0;
}

.banner-heading {
  font-family: 'Lobster', cursive;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}

.banner-sub-heading {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.service_section {
  position: relative;
  background-color: #f8f8f8;
  margin-top: -35px;
}

.service_section .heading_container h2 {
  text-transform: none;
}

.service_section .box {
  margin: 45px 0;
  text-align: center;
}

.service_section .box .img-box {
  height: 65px;
}

.service_section .box .img-box img {
  height: 100%;
  -webkit-filter: brightness(0);
  filter: brightness(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #19c880;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #19c880;
}

.service_section .box:hover .img-box img {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.image-product {
  position: relative;
}

.image-product .product-info {
  background: #19c880;
  width: 50px;
  height: 50px;
  position: absolute !important;
  top: 16px;
  right: 9px;
  border-radius: 0px 0px 0px 200px;
  transform: translateX(80px);
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  z-index: 1;
}

.image-product .product-info:hover {
  width: calc(100% - 15px);
  border-radius: .5rem 0 .5rem .5rem;
  box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px 0px;
}

.owl-hover .item:hover .product-info {
  transform: translateX(0px);
}

.image-product .product-info .icon {
  position: absolute;
  right: 12px;
  top: 7px;
  color: white;
  -webkit-text-stroke: 0.5px white;
  opacity: 1;
}

.image-product .product-info:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.image-product .product-info:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.image-product .product-info .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.image-product .product-info .contents .row .col-sm-6 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: .5rem;
}

.image-product .product-info .contents h1, .image-product .product-info .contents p, .image-product .product-info .contents table {
  color: white;
}

.image-product .product-info .contents p {
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
}

.image-product .product-info .contents p:first-child {
  font-weight: bold;
}

.image-product .product-add-favorite {
  position: absolute;
  bottom: 2rem;
  left: 10px;
  transform: translateX(-90px);
  transition: all 0.5s;
}

.owl-hover .item:hover .product-add-favorite {
  transform: translateX(0px);
  transition: all 0.5s;
}

.image-product .product-add-favorite i {
  color: #f15a69;
  font-size: 1.8rem;
  cursor: pointer;
}

.image-product .product-add-favorite i::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-product .product-add-favorite:not(.favorited) i::before {
  content: "\f417";
}

.image-product .product-add-favorite.favorited i::before {
  content: "\f415";
}

.card .three-banners-button {
  background-color: #19c880;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .one-banner-title {
    font-size: 1.4rem;
  }
  .one-banner-text {
    font-size: 1.2rem;
  }
}