@media screen and (min-width: 601px) and (max-width: 768px) {
  .owl-headBanner .banner-content-box h3 {
    font-size: 1.5rem;
  }
  .owl-headBanner p {
    font-size: .7rem;
    margin-bottom: 0px;
  }
  .owl-headBanner a.banner-button {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: .6rem !important;
  }
}

@media screen and (min-width: 601px) {
  .owl-theme .owl-dots .owl-dot span {
    height: 10px !important;
    width: 10px !important;
  }
}

@media screen and (max-width: 600px) {
  .owl-headBanner .banner-content-box h3 {
    font-size: 1rem;
  }
  .owl-headBanner p {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .owl-headBanner a.banner-button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    font-size: .5rem !important;
  }
  .owl-theme .owl-dots .owl-dot span {
    margin-top: 20px !important;
    height: 4px !important;
    width: 4px !important;
  }
  #badge-desconto {
    font-size: 10px !important;
  }
}

@media screen and (min-width: 768px) {
  .main-menu {
    position: sticky !important;
  }
  .owl-headBanner h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .owl-headBanner .banner-content-box {
    padding-right: 6% !important;
  }
}

.owl-headBanner .item {
  height: 30vw;
  position: relative;
}

.owl-headBanner .item .banner-img-box {
  position: absolute;
  top: -10%;
  width: 100% !important;
  height: 130% !important;
  filter: brightness(40%);
}

.owl-headBanner .item .banner-img-box img {
  width: 100% !important;
  height: 100% !important;
}

.owl-headBanner .banner-content-box h3 {
  color: #19c880;
  font-weight: bold;
  text-shadow: red;
}

.owl-headBanner .banner-content-box p {
  color: white;
  text-align: justify;
  font-weight: normal;
}

.owl-headBanner a.banner-button {
  border: 2px solid #19c880;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.owl-headBanner a.banner-button:hover {
  background-color: #19c880;
}

.owl-headBanner .banner-content-box {
  position: relative;
  padding-left: 6%;
  padding-top: 4%;
  padding-right: 40%;
}

.owl-headBanner .head-banner {
  color: white;
  margin-left: 17%;
  margin-top: 10%;
}

.top-carousel-img {
  filter: brightness(40%);
}

.caption-top-carousel {
  top: 7em;
  bottom: auto;
}

.btn1 {
  font-weight: bold;
  display: inline-block;
  padding: 10px 25px;
  background-color: #19c880;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.btn-estatico {
  background-color: #19c880!important;
  color: #ffffff!important;
}

.btn1:hover {
  background-color: #118454;
}

.btn1:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: white;
  background-repeat: no-repeat
}

#badge-desconto {
  position: absolute;
  left: 8px;
  top: 16px;
  background: rgb(242, 242, 242);
  text-align: center;
  border-radius: 0px !important;
  color: #f15a69;
  padding: 10px 15px;
  font-size: 14px;
}

.profile-pic {
  width: 100% !important;
  height: 100px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important;
}

.owl-dots {
  position: relative;
  top: -40px;
}

.owl-dot, .owl-dot:hover, .owl-dot:focus, .owl-dot:visited, .owl-dot:active, .owl-dot:link {
  outline: thin dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px !important;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.owl-hover .item {
  transition-duration: 0.4s;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.owl-carousel, .owl-carousel .owl-stage-outer, .owl-carousel .owl-stage-outer .owl-stage, .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  padding-bottom: .5rem;
}

.owl-hover .item:hover {
  transform: scale(1.05);
}

.item .add-cart {
  background-color: #19c880;
  color: white;
}

.item .add-cart:hover {
  background-color: #17af70;
  color: white;
}

.img-carousel-categorys {
  height: 20%;
  margin-bottom: 10px;
}

.owl-carousel {
  align-items: center !important;
  width: 90% !important;
}

button.owl-next:focus, button.owl-next:active, button.owl-next:visited, button.owl-next:hover, button.owl-next:link, button.owl-next, button.owl-prev:focus, button.owl-prev:active, button.owl-prev:visited, button.owl-prev:hover, button.owl-prev:link, button.owl-prev {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.container-fluid {
  background-color: white;
}

.product_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.product_heading h2 {
  padding: 10px 20px;
  background-color: #19c880;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.owl-prev, .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}

.owl-prev i, .owl-next i {
  transform: scale(2, 5);
  color: #ccc;
}

.img-banner {
  width: 97%;
}

a, a:visited, a:hover {
  text-decoration: none !important;
}

.banner {
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner-text {
  padding: 200px 0 150px 0;
}

.banner-heading {
  font-family: 'Lobster', cursive;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}

.banner-sub-heading {
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.service_section {
  position: relative;
  background-color: #f8f8f8;
  margin-top: -35px;
}

.service_section .heading_container h2 {
  text-transform: none;
}

.service_section .box {
  margin: 45px 0;
  text-align: center;
}

.service_section .box .img-box {
  height: 65px;
}

.service_section .box .img-box img {
  height: 100%;
  -webkit-filter: brightness(0);
  filter: brightness(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #19c880;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #19c880;
}

.service_section .box:hover .img-box img {
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.image-product .product-info {
  background: #19c880;
  width: 50px;
  height: 50px;
  position: absolute !important;
  top: 16px;
  right: 9px;
  border-radius: 0px 0px 0px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.image-product .product-info .icon {
  position: absolute;
  right: 12px;
  top: 7px;
  color: white;
  -webkit-text-stroke: 0.5px white;
  opacity: 1;
}

.image-product .product-info:hover {
  width: calc(100% - 15px);
  border-radius: .5rem 0 .5rem .5rem;
  box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px 0px;
}

.image-product .product-info:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.image-product .product-info:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}

.image-product .product-info .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.image-product .product-info .contents .row .col-sm-6 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: .5rem;
}

.image-product .product-info .contents h1, .image-product .product-info .contents p, .image-product .product-info .contents table {
  color: white;
}

.image-product .product-info .contents p {
  font-size: 13px;
  padding: 0px !important;
  margin: 0px !important;
}

.image-product .product-info .contents p:first-child {
  font-weight: bold;
}