#content {
	display: none !important;
}

.main-menu {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	position: relative !important;
}

.main-menu .form-inline, .main-menu .navbar-nav, div.flex-cart-login {
	display: none !important;
}

@media screen and (max-width: 768px) {
	.textoLogo {
		display: contents !important;
	}
	.container.sua-conta {
		width: 100% !important;
	}
}

@media screen and (min-width: 768px) {
	.main-menu .navbar-brand {
		margin-left: 0 !important;
	}
	.row-registrar-button {
		margin-top: -55px;
	}
}

.sub-menu {
	display: none !important;
}

.register-login-section {
	padding-top: 0px;
	padding-bottom: 0px;
}

.register-form h2, .login-form h2 {
	color: #252525;
	font-weight: 700;
	text-align: left;
	margin-bottom: 35px;
}

form .group-input {
	margin-bottom: 25px;
}

form label {
	display: block;
	font-size: 15px;
	color: #252525;
	margin-bottom: 13px;
}

form .group-input label.checkbox-label {
	margin-bottom: 0px !important;
}

form .group-input input {
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 15px;
}

form .group-input input:disabled {
	cursor: not-allowed;
}

form .group-input input#inscricao_estadual:disabled {
	background-color: #d5d5d5;
}

form .group-input input:hover, form .group-input input:focus, form .group-input input:required:valid:focus {
	border-color: #19c880;
	border-radius: 0px;
	outline: 1px #19c880;
}

form .group-input input.hasClicked.invalid:not(:focus) {
	border-color: #ca4545;
	outline: 1px #ca4545 !important;
}

form .group-input input.hasOutFocusFirst.invalid:focus {
	border-color: #ca4545;
	outline: 1px #ca4545 !important;
}

form .group-input input.checkbox-input {
	width: auto !important;
}

form .group-input select {
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 15px;
	cursor: pointer;
}

form .group-input select:disabled {
	cursor: not-allowed;
}

form .group-input select:hover, form .group-input select:focus, form .group-input select:required:valid:focus {
	border-color: #19c880;
	border-radius: 0px;
	outline: 1px #19c880;
}

form .group-input select.hasOutFocusFirst.invalid {
	border-color: #ca4545 !important;
	outline: 1px #ca4545 !important;
}

form .register-btn, form .login-btn {
	width: 100%;
	letter-spacing: 2px;
	margin-top: 5px;
	text-transform: uppercase;
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.register-form .switch-login, .login-form .switch-login {
	text-align: center;
	margin-top: 22px;
}

.register-form .switch-login .or-login, .login-form .switch-login .or-login {
	color: #252525;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
}

.register-form .switch-login .or-login:before, .login-form .switch-login .or-login:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #9f9f9f;
	content: "";
}

.login-form .group-input.gi-check {
	margin-bottom: 8px;
}

.login-form .group-input .gi-more {
	overflow: hidden;
}

.login-form .group-input .gi-more label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
	font-size: 14px;
	color: #6B6B6B;
	float: left;
}

.login-form .group-input .gi-more label input {
	position: absolute;
	visibility: hidden;
}

.login-form .group-input .gi-more label input:checked~span {
	border-color: #6C6C6C;
}

.login-form .group-input .gi-more label input:checked~span:after {
	border-color: #6c6c6c;
}

.login-form .group-input .gi-more label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 13px;
	width: 13px;
	border: 1px solid #6C6C6C;
	border-radius: 2px;
}

.login-form .group-input .gi-more label .checkmark:after {
	left: 2px;
	top: -2px;
	width: 13px;
	height: 6px;
	border: solid #ffffff;
	border-width: 2px 2px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	position: absolute;
	content: "";
}

.login-form .group-input .gi-more .forget-pass {
	float: right;
	line-height: 20px;
	margin-top: -2px;
	font-size: 14px;
	color: #6B6B6B;
	text-decoration: underline;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

.tabs-register {
	padding-bottom: 0px !important;
	background-color: white !important;
	display: flex !important;
}

.tabs-register>li {
	margin-right: 0px;
}

.tabs-register>li:last-child {
	border-right: 1px solid #ededed;
}

.tabs-register>li>a {
	padding: 15px 30px;
	padding-bottom: 20px;
	border-top: 2px solid #ededed;
	border-radius: 0px !important;
	background: #ededed;
	color: #8f8f8f;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	display: block;
	transition: all 0.3s ease-in 0s;
}

.tabs-register>li>a:hover {
	border-bottom-color: #ededed;
	background: #f1f1f1;
	color: #444;
}

.tabs-register>li>a.active, .tabs-register>li>a.active:focus, .tabs-register>li>a.active:hover {
	border-top: 2px solid #19c880 !important;
	border-bottom: white;
	color: #444;
	background-color: white;
	padding-bottom: 20px;
}

.tab-content>.tab-pane {
	border: 1px solid #e4e4e4;
	padding-top: 35px !important;
	border-top: 0px none;
	padding: 20px;
	line-height: 22px;
}

.tab-content>.tab-pane>h3 {
	margin-top: 0;
}

@media screen and (min-width: 575px) {
	.hiddenName {
		display: block;
	}
	.col-sm-2.dia-d-n {
		padding-right: 5px !important;
	}
	.col-sm-2.mes-d-n {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.col-sm-2.ano-d-n {
		padding-left: 5px !important;
	}
}

@media screen and (max-width: 576px) {
	.hiddenName {
		display: none !important;
	}
	.dataNascimento-row {
		margin-top: 0px !important;
	}
}

.theTooltip {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	width: 90%;
	max-width: 90%;
	white-space: nowrap;
	word-wrap: no-wrap;
	box-shadow: 0px 3px 4px #aaa;
	border-radius: 5px;
	color: white;
	background-color: #ca4545;
	margin-top: 3px;
	left: 50%;
	transform: translate(-50%);
	transform-style: preserve-3d;
	z-index: 200;
	font-size: 0.7em;
	text-align: center;
	overflow-wrap: break-word;
	white-space: inherit;
	display: none;
}

.theTooltip:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%);
	background-color: #ca4545;
	left: 50%;
	top: -1px;
	z-index: 400;
}

.theTooltip:before {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%) translateZ(-1px);
	background-color: #fff;
	left: 50%;
	top: 0px;
	z-index: -1;
	box-shadow: -1px -1px 20px #aaa;
}

#tooltipDataTotal {
	left: -50% !important;
	margin-top: -22px !important;
	max-width: 250% !important;
	width: 250% !important;
}

input.invalid {
	border: 1px solid #f00;
}

input.invalid~.theTooltip {
	visibility: visible;
	opacity: 1;
}

input:valid~.theTooltip {
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}