<div id="form-content" class=" color-mode p-4">
    <form action="a" method="GET">
        <label class="mb-1 mr-2">Tipo de fundo:</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="imagem" name="tipoFundo" class="custom-control-input">
            <label class="custom-control-label" for="imagem">Imagem</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="solido" name="tipoFundo" class="custom-control-input">
            <label class="custom-control-label" for="solido">Sem imagem</label>
        </div>
        <div class="text-center mt-4">
            <label for="escolher-imagem" id="label-escolher-imagem">
                <div id="default-escolher-imagem">
                    <i class="bi bi-file-image-fill"></i>
                    <br>
                    Escolher imagem
                </div>
                <div id="visualizar-imagem"></div>
            </label>
            <input type="file" accept="image/*" id="escolher-imagem" name="escolher-imagem" />
            <br>
            <div class="w-100 text-center d-flex flex-row flex-wrap">
                <span class="transparencia-texto mr-4 ml-auto">Transparência:</span>
                <div class="mt-3 mr-auto w-25">
                    <div id="slider-transparencia" class="slider"></div>
                </div>
            </div>
            <input type="submit" id="alterar" class="btn mt-2" value="Alterar">
        </div>
    </form>
</div>