<div id="form-content" class=" color-mode p-4">
    <label class="mb-1 mr-2">Tipo de fundo:</label>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="radio-imagem" name="tipo_fundo" class="custom-control-input tipo-fundo">
        <label class="custom-control-label" for="radio-imagem">Imagem</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="radio-solido" name="tipo_fundo" class="custom-control-input tipo-fundo">
        <label class="custom-control-label" for="radio-solido">Sem imagem</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="radio-padrao" name="tipo_fundo" class="custom-control-input tipo-fundo">
        <label class="custom-control-label" for="radio-padrao">Padrão</label>
    </div>
    <div class="text-center mt-4 box-escolher-imagem">
        <label for="escolher-imagem" id="label-escolher-imagem">
            <div id="default-escolher-imagem">
                <i class="bi bi-file-image-fill"></i>
                <br>
                Escolher imagem
            </div>
            <div id="visualizar-imagem"></div>
        </label>
        <input type="file" accept="image/*" id="escolher-imagem" name="escolher-imagem" />
        <br>
        <div class="w-100 text-center d-flex flex-row flex-wrap justify-content-center" style="column-gap: 1rem;">
            <label class="transparencia-texto">Transparência:</label>
            <div class="w-50">
                <input type="text" id="image-transparency_slider">
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button id="alterar-imagem" class="btn mt-2" value="Alterar">Alterar</button>
    </div>
</div>