<link rel="stylesheet" href="/css/rangeSlider.css">

<script src="/js/modernizr.js"></script> <!-- Modernizr -->


<p class="mt-4 ml-4 endereco" style="font-size: 0.8em;">
	<span class="font-weight-bold"><a href="/" class="mr-1"><i class="bi bi-house-fill mr-1"></i>Home
		</a></span> >
	<span><a href="#cd-main-content" class="ml-1 mr-1"> Loja </a></span>
</p>


<hr style="margin-bottom: 0px;">
<main class="cd-main-content" id="cd-main-content">
	<div class="cd-tab-filter-wrapper">
		<div class="cd-tab-filter">

		</div> <!-- cd-tab-filter -->
	</div> <!-- cd-tab-filter-wrapper -->

	<section class="cd-gallery">
		<h1 class="font-weight-bold ml-4" style="font-size: 30px !important;">Camisas Feminino</h1>
		<div class="row">
			<div class="col-sm-6">
				<h5 class="text-secondary ml-4">Exibindo: 1 - 42 de 1243 resultados</h5>
			</div>
			<div class="col-sm-6 mr-0 pr-0 ordenar-por">
				<div class="row mr-4" style="justify-content: flex-end;">
					<h5 style="font-size: 1rem !important; align-self: flex-end;" class="mr-3">Ordenar Por</h5>

					<div class="dropdown">
						<button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Mais Populares <i class="bi bi-chevron-down"
								style="margin-left: 10% !important; font-size: 1rem !important;"></i>
						</button>
						<div class="dropdown-menu" style="width: 100%;" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item mt-2" href="#">Mais Populares <i class="bi bi-check-lg ml-1"></i>
							</a>
							<a class="dropdown-item" href="#">Lançamentos</a>
							<a class="dropdown-item" href="#">Melhor Avaliados</a>
							<a class="dropdown-item" href="#">Maior Preço</a>
							<a class="dropdown-item" href="#">Menor Preço</a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<ul>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<a href="/produto/parametro">
							<div class="row justify-content-center"><img src="/img/tenisTeste.jpg"
									class="img-fluid profile-pic mb-4 mt-3">
							</div>
							<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						</a>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<h5 style="font-size: 0.9rem !important;"> 3x de R$ 4,00 </h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<a href="/produto/parametro">
							<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
								<i class="bi bi-info-circle pr-2"></i>Detalhes
							</button>
						</a>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="mix check-masculino border-0">
				<div class="item border-0">
					<div class="card border-0 px-4">
						<div class="row justify-content-center"> <img src="/img/tenisTeste.jpg"
								class="img-fluid profile-pic mb-4 mt-3">
						</div>
						<h5 class="font-weight-bold">Fantasy T-shirt</h5>
						<p class="mb-2 text-muted text-uppercase small">Shirts</p>
						<hr style="background-color: #ddd;">
						<h5 class="mb-3">
							<span class="text-danger mr-1">R$ 12,99</span>
							<span class="text-grey"><s>R$ 36,99</s></span>
						</h5>
						<button type="button" class="btn add-cart btn-sm mr-1 mb-2">
							<i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
						</button>
						<button type="button" class="btn btn-light btn-sm mr-1 mb-2">
							<i class="bi bi-info-circle pr-2"></i>Detalhes
						</button>
					</div>
				</div>
			</li>
			<li class="gap"></li>
			<li class="gap"></li>
			<li class="gap"></li>
		</ul>
		<div class="cd-fail-message">Nenhum resultado encontrado</div>
	</section> <!-- cd-gallery -->

	<div class="cd-filter">
		<form>

			<div class="cd-filter-selected-filters">
				<h4 class="cd-qty-filters-selected">Filtros Selecionados(1)</h4>
				<p class="cd-clean-all"><a href="#">Limpar todos</a></p>
			</div>

			<div class="cd-filter-block pesquisar">
				<h4>Pesquisar</h4>

				<div class="cd-filter-content">
					<input type="search" placeholder="Pesquise por um produto...">
				</div> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Gênero</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check-masculino" type="checkbox" id="checkbox-masculino">
						<label class="checkbox-label" for="checkbox-masculino">Masculino</label>
					</li>

					<li>
						<input class="filter" data-filter=".check-feminino" type="checkbox" id="checkbox-feminino">
						<label class="checkbox-label" for="checkbox-feminino">Feminino</label>
					</li>
					<h5 class="cd-filter-inside-block">INFANTIL</h5>
					<li>
						<input class="filter" data-filter=".check-menino" type="checkbox" id="checkbox-menino">
						<label class="checkbox-label" for="checkbox-menino">Menino</label>
					</li>
					<li>
						<input class="filter" data-filter=".check-menina" type="checkbox" id="checkbox-menina">
						<label class="checkbox-label" for="checkbox-menina">Menina</label>
					</li>
					<li>
						<input class="filter" data-filter=".check-bebe-menino" type="checkbox"
							id="checkbox-bebe-menino">
						<label class="checkbox-label" for="checkbox-bebe-menino">Bebê Menino</label>
					</li>
					<li>
						<input class="filter" data-filter=".check-bebe-menina" type="checkbox"
							id="checkbox-bebe-menina">
						<label class="checkbox-label" for="checkbox-bebe-menina">Bebê Menina</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Categoria</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter category cat-roupas" data-filter=".check1" type="checkbox"
							id="checkbox-roupas">
						<label class="checkbox-label" for="checkbox-roupas">Roupas</label>
					</li>

					<li>
						<input class="filter category cat-calçados" data-filter=".check2" type="checkbox"
							id="checkbox-calçados">
						<label class="checkbox-label" for="checkbox-calçados">Calçados</label>
					</li>

					<li>
						<input class="filter category cat-acessorios" data-filter=".check3" type="checkbox"
							id="checkbox-acessorios">
						<label class="checkbox-label" for="checkbox-acessorios">Acessórios</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Sub Categoria</h4>

				<ul class="cd-filter-content cd-filters list">
					<h5 class="cd-filter-inside-block">Roupas</h5>
					<li>
						<input class="filter subcategory sub-roupas" data-filter=".check1" type="checkbox"
							id="checkbox-camisas">
						<label class="checkbox-label" for="checkbox-camisas">Camisas</label>
					</li>
					<li>
						<input class="filter subcategory sub-roupas" data-filter=".check2" type="checkbox"
							id="checkbox-calças">
						<label class="checkbox-label" for="checkbox-calças">Calças</label>
					</li>

					<li>
						<input class="filter subcategory sub-roupas" data-filter=".check3" type="checkbox"
							id="checkbox-bermudas">
						<label class="checkbox-label" for="checkbox-bermudas">Bermudas</label>
					</li>

					<h5 class="cd-filter-inside-block">Calçados</h5>
					<li>
						<input class="filter subcategory sub-calçados" data-filter=".check1" type="checkbox"
							id="checkbox-tenis">
						<label class="checkbox-label" for="checkbox-tenis">Tênis</label>
					</li>
					<li>
						<input class="filter subcategory sub-calçados" data-filter=".check2" type="checkbox"
							id="checkbox-sapatenis">
						<label class="checkbox-label" for="checkbox-sapatenis">Sapatênis</label>
					</li>

					<li>
						<input class="filter subcategory sub-calçados" data-filter=".check3" type="checkbox"
							id="checkbox-botas">
						<label class="checkbox-label" for="checkbox-botas">Botas</label>
					</li>

					<h5 class="cd-filter-inside-block">Acessórios</h5>
					<li>
						<input class="filter subcategory sub-acessorios" data-filter=".check1" type="checkbox"
							id="checkbox-aneis">
						<label class="checkbox-label" for="checkbox-aneis">Anéis</label>
					</li>
					<li>
						<input class="filter subcategory sub-acessorios" data-filter=".check2" type="checkbox"
							id="checkbox-brincos">
						<label class="checkbox-label" for="checkbox-brincos">Brincos</label>
					</li>

					<li>
						<input class="filter subcategory sub-acessorios" data-filter=".check3" type="checkbox"
							id="checkbox-bolsas">
						<label class="checkbox-label" for="checkbox-bolsas">Bolsas</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->



			<div class="cd-filter-block cd-ft-preco">
				<h4>Preço</h4>

				<div class="cd-filter-content">
					<div id="slider-preco" class="slider" data-min-value="50" data-max-value="200"></div>
					<div class="row mb-2">
						<div class="col-sm-6" style="text-align: end;">
							<input type="number" id="slider-preco-inputMin" class="slider-input">
						</div>
						<div class="col-sm-6" style="text-align: start;">
							<input type="number" id="slider-preco-inputMax" class="slider-input">
						</div>
					</div>
					<button class="btn w-100 rounded-0 text-light font-weight-bold btn-filtrar-preco"
						style="background-color: #33df97" id="btn-filtrar-preco">FILTRAR</button>
				</div> <!-- cd-filter-content -->
			</div>

			<div class="cd-filter-block cd-ft-desconto">
				<h4>Desconto</h4>

				<div class="cd-filter-content">
					<div id="slider-desconto" class="slider"></div>
					<div class="row mb-2">
						<div class="col-sm-6" style="text-align: end;">
							<input type="number" id="slider-desconto-inputMin" class="slider-input">
						</div>
						<div class="col-sm-6" style="text-align: start;">
							<input type="number" id="slider-desconto-inputMax" class="slider-input">
						</div>
					</div>
					<button class="btn w-100 rounded-0 text-light font-weight-bold btn-filtrar-desconto"
						style="background-color: #33df97" id="btn-filtrar-desconto">FILTRAR</button>
				</div> <!-- cd-filter-content -->
			</div>

			<div class="cd-filter-block">
				<h4>Cores</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-preto">
						<label class="checkbox-label" for="checkbox-preto">Preto</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox-preto-e-verde">
						<label class="checkbox-label" for="checkbox-preto-e-verde">Preto e Vermelho</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox-amarelo">
						<label class="checkbox-label" for="checkbox-amarelo">Amarelo</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Marca</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-nike">
						<label class="checkbox-label" for="checkbox-nike">Nike</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox-all-star">
						<label class="checkbox-label" for="checkbox-all-star">All Star</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox-adidas">
						<label class="checkbox-label" for="checkbox-adidas">Adidas</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Material</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-sintetico">
						<label class="checkbox-label" for="checkbox-sintetico">Sintético</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox-borracha">
						<label class="checkbox-label" for="checkbox-borracha">Borracha</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox-textil">
						<label class="checkbox-label" for="checkbox-textil">Têxtil</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Indicado Para</h4>

				<ul class="cd-filter-content cd-filters list">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-esportes">
						<label class="checkbox-label" for="checkbox-esportes">Esportes</label>
					</li>

					<li>
						<input class="filter" data-filter=".check2" type="checkbox" id="checkbox-dia-a-dia">
						<label class="checkbox-label" for="checkbox-dia-a-dia">Dia a Dia</label>
					</li>

					<li>
						<input class="filter" data-filter=".check3" type="checkbox" id="checkbox-festas">
						<label class="checkbox-label" for="checkbox-festas">Festas</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<h4>Avaliação</h4>

				<ul class="cd-filter-content cd-filters list cd-ft-avaliacao">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-5estrelas">
						<label class="checkbox-label" for="checkbox-5estrelas">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
						</label>
					</li>
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-4estrelas">
						<label class="checkbox-label" for="checkbox-4estrelas">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star"></i>
						</label>
					</li>
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-3estrelas">
						<label class="checkbox-label" for="checkbox-3estrelas">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
						</label>
					</li>
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-2estrelas">
						<label class="checkbox-label" for="checkbox-2estrelas">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
						</label>
					</li>
					<li>
						<input class="filter" data-filter=".check1" type="checkbox" id="checkbox-1estrelas">
						<label class="checkbox-label" for="checkbox-1estrelas">
							<i class="bi bi-star-fill"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
							<i class="bi bi-star"></i>
						</label>
					</li>
				</ul> <!-- cd-filter-content -->
			</div> <!-- cd-filter-block -->

			<div class="cd-filter-block">
				<ul class="cd-filter-content cd-filters list" style="margin-left: -40px !important;">
					<li>
						<input class="filter" data-filter=".check1" type="checkbox"
							id="checkbox-mostrar-nao-disponiveis">
						<label class="checkbox-label" for="checkbox-mostrar-nao-disponiveis">Mostrar Não
							Disponíveis</label>
					</li>
				</ul>
			</div>

		</form>

		<a href="#0" class="cd-close">Fechar</a>
	</div> <!-- cd-filter -->

	<a href="#0" class="cd-filter-trigger">Filtro</a>
</main> <!-- cd-main-content -->

<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/rangeSlider.js"></script>