<form action="#" method="POST">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mb-4">Compras</h3>
            <p class="text-secondary">10 compras</p>
            <div class="card card-compras shadow p-4" style="margin-top: 30px;">
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-2 bd-highlight ml-3 mr-3">
                        <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                    </div>
                    <div class="flex-grow-1 bd-highlight">
                        <p>Status: <span class="text-warning">Pendente</span></p>
                        <span class="d-flex" style="padding-bottom: 0 !important;">
                            <p class="texto-data-compra text-secondary">Data:</p>&nbsp;
                            <p class="data-compra text-secondary">10 maio 2019</p>
                        </span>
                        <p class="nome-produtos text-secondary">Tênis Nike Preto, Camisa de Frio Vermelha,
                            Tênis AllStar Skate Preto e Vermelho</p>
                        <p class="qtd-produtos text-secondary">10 unidades</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="compras/idCompra" class="btn btn-ver-compra">Ver Compra</a>
                        <br>
                        <a href="compras/idCompra" class="btn btn-reembolso">Reembolso</a>
                    </div>
                </div>
            </div>

            <div class="card card-compras shadow p-4" style="margin-top: 30px;">
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-2 bd-highlight ml-3 mr-3">
                        <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                    </div>
                    <div class="flex-grow-1 bd-highlight">
                        <p>Status: <span class="text-success">Entregue</span></p>
                        <span class="d-flex" style="padding-bottom: 0 !important;">
                            <p class="texto-data-compra text-secondary">Data:</p>&nbsp;
                            <p class="data-compra text-secondary">10 maio 2019</p>
                        </span>
                        <p class="nome-produtos text-secondary">Tênis Nike Preto, Camisa de Frio Vermelha,
                            Tênis AllStar Skate Preto e Vermelho</p>
                        <p class="qtd-produtos text-secondary">10 unidades</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="btn btn-ver-compra">Ver Compra</a>
                    </div>
                </div>
            </div>

            <div class="card card-compras shadow p-4" style="margin-top: 30px;">
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-2 bd-highlight ml-3 mr-3">
                        <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                    </div>
                    <div class="flex-grow-1 bd-highlight">
                        <p>Status: <span class="text-warning">Esperando Pagamento</span></p>
                        <span class="d-flex" style="padding-bottom: 0 !important;">
                            <p class="texto-data-compra text-secondary">Data:</p>&nbsp;
                            <p class="data-compra text-secondary">10 maio 2019</p>
                        </span>
                        <p class="nome-produtos text-secondary">Tênis Nike Preto, Camisa de Frio Vermelha,
                            Tênis AllStar Skate Preto e Vermelho</p>
                        <p class="qtd-produtos text-secondary">10 unidades</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="btn btn-ver-compra">Ver Compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>