<form action="#" method="POST">
    <div class="row">
        <div class="col-sm-9 col-dados">
            <h3 class="mb-4">Meus Dados</h3>
            <h5 class="mb-0 mt-4 text-center">Foto de Perfil</h5>
            <div class="card-dados-conta p-0 m-0 mt-3 text-center" style="margin-top: 30px;">
                <!--<div>
                    <img src="/img/menina.jpg" alt="produto" style="height: 150px; border-radius: 100%;"
                        class="mb-4 shadow">
            </div>-->
                <div>
                    <i class="bi bi-person-fill" style="font-size: 7em;"></i>
                </div>
                <input class="input-file" id="my-file" type="file">
                <label for="my-file" class="input-file-trigger shadow">Selecionar Foto</label>
            </div>
            <div class="card card-dados-conta p-3" style="margin-top: 30px;">
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>E-mail</p>
                    </div>
                    <div class=" p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">christhian11rv@hotmail.com</p>
                    </div>
                </div>
            </div>

            <div class="card card-dados-conta p-3" style="margin-top: 10px;">
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Nome Completo</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">Christhian Rezende Vieira</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Sexo</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">Masculino</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Data de Nascimento</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">13/12/2002</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>CPF</p>
                    </div>
                    <div class="p-0 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">14164677694</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Telefone</p>
                    </div>
                    <div class="p-0 flex-grow-1 bd-highlight ml-3 mr-3">
                        <p class="text-secondary">(37) 99941-6410</p>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight">
                    <div class="p-0 bd-highlight ml-3" style="width: 250px;">
                        <p>Telefone Alternativo</p>
                    </div>
                    <div class="p-0 flex-grow-1 bd-highlight ml-3 mr-3">
                        <p class="text-secondary"></p>
                    </div>
                    <div class=" p-0 bd-highlight ml-3 mr-3">
                        <a href="#">Alterar</a>
                    </div>
                </div>
            </div>


            <h5 style="font-size: 1.2rem; margin-top: 50px;">Endereços</h5>

            <div class="card card-enderecos shadow-sm mt-3 p-4">
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="flex-grow-1 bd-highlight">
                        <p class="font-weight-bold" style="color: black;">RUA SEBASTIÃO LEANDRO DE CASTRO, 57</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Centro, Medeiros MG - 38930-0000</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Complemento: Casa</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Ponto de Referência: Supermercado do
                            Paulinho</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Informações Adicionais: Entregar na casa
                            ao lado</p>
                        <p class="text-secondary" style="font-size: 0.9rem">CHRISTHIAN REZENDE
                            VIEIRA
                            - 37999416410
                        </p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="button-editar-endereco btn rounded-0 mb-2">Editar</a>
                        <br>
                        <a href="#" class="button-excluir-endereco btn rounded-0">Excluir</a>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="flex-grow-1 bd-highlight">
                        <p class="font-weight-bold" style="color: black;">RUA SEBASTIÃO LEANDRO DE CASTRO, 57</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Centro, Medeiros MG - 38930-0000</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Complemento: Casa</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Ponto de Referência: Supermercado do
                            Paulinho</p>
                        <p class="text-secondary" style="font-size: 0.8rem">Informações Adicionais: Entregar na casa
                            ao lado</p>
                        <p class="text-secondary" style="font-size: 0.9rem">CHRISTHIAN REZENDE
                            VIEIRA
                            - 37999416410
                        </p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="button-editar-endereco btn rounded-0 mb-2">Editar</a>
                        <br>
                        <a href="#" class="button-excluir-endereco btn rounded-0">Excluir</a>
                    </div>
                </div>

                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="flex-grow-1 bd-highlight">
                        <a href="#">Adicionar Endereço</a>
                    </div>
                </div>
            </div>

            <h5 style="font-size: 1.2rem; margin-top: 50px;">Cartões</h5>

            <div class="card card-cartoes shadow-sm mt-3 p-4">
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="p-2 bd-highlight text-center" style="align-self: center;">
                        <div class="p-2 bg-icone-cartao">
                            <img src="/img/icone-pagamento/mastercard.png" alt="" class="icone-cartao">
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1">
                        <p>**** 3384</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Mastercard</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Vencimento: 10/2026</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="button-excluir-endereco btn rounded-0">Excluir</a>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="p-2 bd-highlight text-center" style="align-self: center;">
                        <div class="p-2 bg-icone-cartao">
                            <img src="/img/icone-pagamento/mastercard.png" alt="" class="icone-cartao">
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1">
                        <p>**** 3384</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Mastercard</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">Vencimento: 10/2026</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#" class="button-excluir-endereco btn rounded-0">Excluir</a>
                    </div>
                </div>

                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="flex-grow-1 bd-highlight">
                        <a href="#">Adicionar Cartão</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>