<form action="#" method="POST">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="mb-4">Segurança</h3>

            <div class="card card-seguranca shadow-sm mt-3 p-4">
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="p-2 bd-highlight text-center" style="align-self: center;">
                        <div class="p-2 bg-icone-seguranca">
                            <i class="bi bi-envelope-fill icone-seguranca"></i>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1">
                        <p>Email</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">alexanderpierce@hotmail.com</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#">Alterar</a>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-row flex-wrap bd-highlight px-2">
                    <div class="p-2 bd-highlight text-center" style="align-self: center;">
                        <div class="p-2 bg-icone-seguranca">
                            <i class="bi bi-key-fill icone-seguranca"></i>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight flex-grow-1">
                        <p>Senha</p>
                        <p class="text-secondary" style="font-size: 0.9rem;">******</p>
                    </div>
                    <div class="bd-highlight">
                        <a href="#">Alterar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>