@media screen and (max-width: 768px) {
    .titulo-detalhes-compra {
        margin-top: 50px !important;
    }
}

@media screen and (min-width: 768px) {
    .titulo-detalhes-compra {
        margin-top: .5rem !important;
    }
}

.usuario-content p {
    margin: 0 0 0 0 !important;
}

.usuario-content a:hover {
    text-decoration: none !important;
    color: initial !important;
}

.usuario-content a .card {
    color: initial !important;
}

.usuario-content a#page-compras:hover {
    color: #19c880 !important;
}

.usuario-content .card-detalhes-compra {
    border-top: 4px solid #19c880;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.bg-icone-detalhes-pagamento {
    background-color: rgb(244, 242, 242);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    writing-mode: vertical-lr;
}

.icone-pagamento {
    width: 100%;
}

#link-detalhes-pagamento:hover {
    cursor: pointer;
}

#link-detalhes-pagamento i {
    -webkit-text-stroke: 1.5px #007bff;
}

.card-detalhes-compra {
    overflow: hidden;
    transition: height 0.5s;
}

.card-detalhes-compra .box-detalhes-pagamento {
    opacity: 0;
}

.card-detalhes-compra.open .box-detalhes-pagamento {
    opacity: 1;
}

.card-detalhes-compra.open {
    transition: height 0.5s;
}