<div class="regulamentos">
    <p class="mt-4 address-navigation">
        <span>
            <a href="/" class="mr-1">Home</a> >
        </span>
        <span class="ml-1 mr-1">
            <span>
                Regulamentos
            </span>
        </span>
    </p>

    <h2>Frete grátis</h2>
    <hr>
    <p>Frete grátis é válido para produtos vendidos e enviados pela Bella Clothes.
    </p>
    <br>

    <h2>Retirar nas lojas Bella Clothes</h2>
    <hr>
    <p>Compre no site e retire numa loja Bella Clothes. É mais rápido e o frete é grátis!
        <br>
        <br>
        <strong>1. Sobre os produtos</strong>
        <br>
        A Modalidade “Retirar na Loja” só está disponível para um grupo específico de produtos vendidos e entregues
        diretamente pela Bella Clothes.
        <br>
        <br>
        <strong>2. Sobre a retirada na loja</strong>
        <br>
        Após aprovação do pedido pela instituição financeira, o produto estará disponível para retirada na loja
        escolhida conforme prazo estabelecido no momento da compra.
        <br>
        É imprescindível que as informações de cadastro estejam atualizadas. Isso garantirá o sucesso em possíveis
        contatos que se façam necessários.
        <br>
        IMPORTANTE: a retirada do produto na loja deverá ser feita após o recebimento do e-mail com a conformação que
        ele já se encontra disponível para retirada.
        <br>
        O pedido ficará disponível para retirada pelo prazo máximo de 15 dias corridos, a contar da data de recebimento
        do e-mail de disponibilidade para retirada. Passado este tempo, o produto retornará para o centro logístico e o
        estorno do valor pago é realizado para o cliente. Em caso de dúvidas, entrar em contato com a nossa Central de
        Relacionamento.
        <br>
        Ao comparecer ao local de retirada, o cliente deverá informar que a compra foi realizada através do serviço
        “Retirar na loja”.
        <br>
        <br>
        <strong>3. Documentos para retirada do produto</strong>
        <br>
        - pessoa física: documento de identidade original com foto
        <br>
        - pessoa jurídica: cópia autenticada do contrato social/estatuto social da empresa, documento original com foto
        da pessoa que está efetuando a retirada (representante legal).
        <br>
        - retirada por terceiro: no ato da compra indicar que uma outra pessoa irá retirar o produto e informar o nome
        completo e o documento de identidade da pessoa que irá fazer a retirada.
        <br>
        O horário da retirada do pedido será de acordo com o horário de funcionamento da loja escolhia.
    </p>
    <br>

    <h2>Parcelamento</h2>
    <hr>
    <p><strong>CONDIÇÕES DE PARTICIPAÇÃO</strong>
        <br>
        Para compras realizadas com cartão de crédito é possível parcelar em até 10 (dez) vezes sem juros, com parcela
        mínima de R$39,90.
        <br>
        Aceitamos as principais bandeiras: Visa, Mastercard, Diners, Hipercard, Amex e Elo.
        <br>
        <br>
        <strong>DURAÇÃO DA PROMOÇÃO</strong>
        <br>
        O benefício de parcelamento é válido por tempo indeterminado, podendo ser cancelado a qualquer momento, sem
        aviso prévio.
    </p>
    <br>

    <h2>Como usar o cupom de desconto</h2>
    <hr>
    <p>Veja abaixo um passo a passo de como usar o cupom de desconto em nosso site:
        <br>
        <br>
        a) Escolha o produto que deseja comprar. Não se esqueça de selecionar tamanho e/ou cor, se houver mais de uma
        opção.
        <br>
        b) Feito isso, clique no botão 'Adicionar ao carrinho'.
        <br>
        c) Você será encaminhado para o carrinho. Caso queira comprar mais algum item, basta clicar em “Continuar
        comprando”. Se não quiser comprar mais nenhum produto, poderá adicionar o cupom de desconto no canto direito da
        tela no campo "Cupom de desconto". Após isso, clique em "Continuar".
        <br>
        <br>
        O desconto aplicado será visualizado junto aos valores da sua compra, no canto direito da tela. Por fim, escolha
        a forma de pagamento e conclua sua compra.
    </p>
</div>