<div class="d-flex flex-row flex-wrap mb-3">
    <h3 class="title flex-grow-1">
        Avaliações de Produtos
    </h3>
</div>

<div class="card color-mode">
    <table id="table-avaliacoes" class="table table-sm table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>USUÁRIO</th>
                <th></th>
                <th>PRODUTO</th>
                <th>AVALIAÇÃO</th>
                <th>DATA</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>