<div class="d-flex flex-row flex-wrap mb-3">
    <h3 class="title flex-grow-1">
        Produtos
    </h3>
    <a href="/admin/adicionar-produto" class="btn adicionar-produto"><i class="bi bi-plus-lg mr-2"></i>Adicionar Novo
        Produto</a>
</div>

<div class="card color-mode">
    <table id="table-produtos" class="table table-sm table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th>PRODUTO</th>
                <th>CATEGORIA</th>
                <th>SUBCATEGORIA</th>
                <th>STATUS</th>
                <th>DATA</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>