<!-- Pimeiro Carrosel - Head Banner -->
<div class="owl-carousel owl-theme w-100 p-0 owl-headBanner">
  <div class="custom_overlay_wrapper">
    <a href="http://google.com">
      <img src="/img/home/camisas-banner.jpg">
      <div class="custom_overlay">
        <span class="custom_overlay_inner">
          <h2>Conheça as novas camisas nike que acabaram de chegar!</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis illum iste inventore rerum molestiae
            deserunt, sapiente assumenda mollitia facere, aspernatur est quia earum eum quae quis sunt alias commodi
            quaerat?</p>
          <button>Ir à loja</button>
        </span>
      </div>
    </a>
  </div>
  <div class="custom_overlay_wrapper">
    <a href="http://google.com">
      <img src="/img/home/camisas-banner2.jpg">
      <div class="custom_overlay">
        <span class="custom_overlay_inner">
          <h2>Novos produtos com até 80% de desconto!</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis illum iste inventore rerum molestiae
            deserunt, sapiente assumenda mollitia facere, aspernatur est quia earum eum quae quis sunt alias commodi
            quaerat?</p>
          <button>Ir à loja</button>
        </span>
      </div>
    </a>
  </div>
  <div class="custom_overlay_wrapper">
    <a href="http://google.com">
      <img src="/img/home/bolsa.jpg">
      <div class="custom_overlay">
        <span class="custom_overlay_inner">
          <h2>Combo 2 tênis + camisa 89,90!</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis illum iste inventore rerum molestiae
            deserunt, sapiente assumenda mollitia facere, aspernatur est quia earum eum quae quis sunt alias commodi
            quaerat?</p>
          <button>Ir à loja</button>
        </span>
      </div>
    </a>
  </div>
</div>



<section class="service_section">
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="/img/home/transport.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Entrega Rápida
            </h5>
            <p>
              A entrega é feita na sua casa dentro do prazo
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="/img/home/free.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Frete Grátis
            </h5>
            <p>
              Frete grátis em todos os produtos!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="/img/home/secure.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Melhor Qualidade
            </h5>
            <p>
              Todos os produtos com a melhor qualidade do mercado
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="/img/home/suport.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Suporte Ao Cliente 24h
            </h5>
            <p>
              Suporte disponível 24 horas
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Carrossel - Produtos mais vendidos -->
<div class="container-fluid px-3 px-sm-5 my-5 text-center">
  <div class="product_heading">
    <h2>Produtos mais vendidos</h2>
  </div>
  <div class="owl-carousel owl-hover mx-auto owl-theme owl-pMaisVendidos">
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Carrossel - Lançamentos -->
<div class="container-fluid px-3 px-sm-5 mb-5 text-center">
  <div class="product_heading">
    <h2>Lançamentos</h2>
  </div>
  <div class="owl-carousel owl-hover mx-auto owl-theme owl-lancamentos">
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Segundo Banner -->
<a href="#">
  <div class="banner mx-auto text-left mb-2"
    style="width: 97%; height: 100%; background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(68,68,68,0.5)), url('img/home/mulher-camera.jpg');">
    <div class="container py-5 text-center">
      <h1 class=" font-weight-bold one-banner-title">OUTLET</h1>
      <h4 class="font-italic mb-0 one-banner-text">Com até 80% de desconto em todos os produtos!</h4>
      <br>
      <div class="btn rounded-0 btn-estatico">APROVEITAR</div>
    </div>
  </div>
</a>



<!-- Carrossel - Na Bella Clothes também tem -->
<div class="container-fluid px-3 px-sm-5 mt-5 text-center">
  <div class="product_heading">
    <h2>Na Bella Clothes também tem</h2>
  </div>
  <div class="owl-carousel owl-hover mx-auto owl-theme owl-tambemTem">
    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Camisas</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Infantil</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Sapatos</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Acessórios</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Blusas</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Homem</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Mulher</h5>
      </div>
    </a>

    <a href="/loja" class="item">
      <div class="card border-0 px-4">
        <img src="img/tenisTeste.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Anéis</h5>
      </div>
    </a>
  </div>
</div>



<!-- Carrossel - Melhores Descontos -->
<div class="container-fluid px-3 px-sm-5 mt-3 text-center">
  <div class="product_heading">
    <h2>Melhores Descontos</h2>
  </div>
  <div class="owl-carousel owl-hover mx-auto owl-theme owl-mDescontos">
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center image-product">
          <span class="badge badge-desconto">-90%</span>
          <img src="img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
          <div class="product-info">
            <div class="icon"><i class="bi bi-info-circle"></i></div>
            <div class="contents d-flex flex-row flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div>
                    <p>Indicado para</p>
                    <p>Dia a dia</p>
                  </div>
                  <div>
                    <p>Disponibilidade</p>
                    <p>12 em estoque</p>
                  </div>
                  <div>
                    <p>Peso</p>
                    <p>200g (par)</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div>
                    <p>Marca</p>
                    <p>Adidas</p>
                  </div>
                  <div>
                    <p>Material</p>
                    <p>Têxtil</p>
                  </div>
                  <div>
                    <p>Composição</p>
                    <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                  </div>
                  <div>
                    <p>Quantidade vendida</p>
                    <p>231</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-add-favorite">
            <i class="bi"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">Tênis Preto Nike</h5>
        <p class="mb-2 text-muted text-uppercase small">Tênis</p>
        <hr style="background-color: #ddd;">
        <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
        <p class="mb-3 text-secondary">3x de R$ 39,90</p>
        <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>



<!-- 3 Pequenos Banners de Produtos -->
<div class="card-columns mx-auto" style="width: 97%;">
  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/home/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text d-flex flex-row flex-wrap">
          <p class="font-weight-bold flex-grow-1 w-50 mr-4">Leve 3 camisas por <span
              class="font-weight-bold text-danger">R$
              29,99</span>
            cada
          </p>
          <button class="btn three-banners-button rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; align-self: center;">CONFIRA</button>
        </h5>
      </div>
    </div>
  </a>

  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/home/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text d-flex flex-row flex-wrap">
          <p class="font-weight-bold flex-grow-1 w-50 mr-4">Leve 3 calças por <span
              class="font-weight-bold text-danger">R$
              45,90</span>
            cada
          </p>
          <button class="btn three-banners-button rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; align-self: center;">CONFIRA</button>
        </h5>
      </div>
    </div>
  </a>

  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/home/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text d-flex flex-row flex-wrap">
          <p class="font-weight-bold flex-grow-1 w-50 mr-4">Leve 3 tênis por <span
              class="font-weight-bold text-danger">R$
              31,39</span>
            cada
          </p>
          <button class="btn three-banners-button rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; align-self: center;">CONFIRA</button>
        </h5>
      </div>
    </div>
  </a>
</div>



<!-- Último Banner -->
<a href="#">
  <div class="banner mx-auto text-left mb-2"
    style="width: 97%; height: 100%; background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(68,68,68,0.5)), url('/img/home/camisas-banner.jpg');">
    <div class="container py-5 text-center">
      <h1 class="font-weight-bold one-banner-title">GRANDES OPORTUNIDADES</h1>
      <h4 class="font-italic mb-0 one-banner-text">Com até 40% de desconto em todos os produtos!</h4>
      <br>
      <div class="btn rounded-0 btn-estatico">APROVEITAR</div>
    </div>
  </div>
</a>