<!-- Pimeiro Carrosel - Head Banner -->
<div class="owl-carousel owl-theme w-100 p-0 owl-headBanner">
  <div class="item" style="height: 1rem">
    <div class="card border-0">
      <div class="view">
        <img class="w-100 top-carousel-img" src="img/bolsa.jpg">
      </div>
      <div class="head-banner text-left" style="position: absolute;">
        <h3 class="font-weight-bold">NOVOS PRODUTOS COM 90% DE DESCONTO!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa reiciendis deserunt
          vel porro placeat quibusdam officiis voluptatibus ducimus labore, accusantium cupiditate ullam fugiat cum
          quidem voluptatum quia assumenda fuga facere!</p>
        <a href="#"><button class="btn1">Ver Produtos</button></a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card border-0">
      <div class="view">
        <img class="w-100 top-carousel-img" src="img/camisas-banner.jpg">
      </div>
      <div class="head-banner text-left" style="position: absolute;">
        <h3 class="font-weight-bold">NOVOS PRODUTOS COM 90% DE DESCONTO!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa reiciendis deserunt
          vel porro placeat quibusdam officiis voluptatibus ducimus labore, accusantium cupiditate ullam fugiat cum
          quidem voluptatum quia assumenda fuga facere!</p>
        <a href="#"><button class="btn1">Ver Produtos</button></a>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card border-0">
      <div class="view">
        <img class="w-100 top-carousel-img" src="img/camisas-banner2.jpg">
      </div>
      <div class="head-banner text-left" style="position: absolute;">
        <h3 class="font-weight-bold">NOVOS PRODUTOS COM 90% DE DESCONTO!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa reiciendis deserunt
          vel porro placeat quibusdam officiis voluptatibus ducimus labore, accusantium cupiditate ullam fugiat cum
          quidem voluptatum quia assumenda fuga facere!</p>
        <a href="#"><button class="btn1">Ver Produtos</button></a>
      </div>
    </div>
  </div>
</div>



<section class="service_section">
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="img/feature-1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Entrega Rápida
            </h5>
            <p>
              A entrega é feita na sua casa dentro do prazo
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="img/feature-2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Frete Grátis
            </h5>
            <p>
              Frete grátis em todos os produtos!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="img/feature-3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Melhor Qualidade
            </h5>
            <p>
              Todos os produtos com a melhor qualidade do mercado
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <img src="img/feature-4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Suporte Ao Cliente 24h
            </h5>
            <p>
              Suporte disponível 24 horas
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Carrossel - Produtos mais vendidos -->
<div class="container-fluid px-3 px-sm-5 my-5 text-center">
  <div class="product_heading">
    <h2>Produtos mais vendidos</h2>
  </div>
  <div class="owl-carousel mx-auto owl-theme owl-pMaisVendidos">
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">90% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Carrossel - Lançamentos -->
<div class="container-fluid px-3 px-sm-5 my-5 text-center">
  <div class="product_heading">
    <h2>Lançamentos</h2>
  </div>
  <div class="owl-carousel mx-auto owl-theme owl-lancamentos">
    <div class="item first prev">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>

      </div>
    </div>
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>

      </div>
    </div>
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>

      </div>
    </div>
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center"> <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3"><span>R$ 12,99</span></h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Segundo Banner -->
<a href="#">
  <div class="banner mx-auto text-left mb-2"
    style="width: 97%; height: 100%; background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(68,68,68,0.5)), url('img/mulher-camera.jpg');">
    <div class="container py-5 text-center">
      <h1 class=" font-weight-bold">OUTLET</h1>
      <h4 class="font-italic mb-0">Com até 80% de desconto em todos os produtos!</h4>
      <br>
      <div class="btn rounded-0 btn-estatico">APROVEITAR</div>
    </div>
  </div>
</a>



<!-- Carrossel - Na Bella Clothes também tem -->
<div class="container-fluid px-3 px-sm-5 my-5 text-center">
  <div class="product_heading">
    <h2>Na Bella Clothes também tem</h2>
  </div>
  <div class="owl-carousel mx-auto owl-theme owl-tambemTem">
    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Camisas</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Infantil</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Sapatos</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Acessórios</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Blusas</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Homem</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Mulher</h5>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <img src="img/menina.jpg" class="rounded-circle img-carousel-categorys" alt="">
        <h5 class="font-weight-bold">Anéis</h5>
      </div>
    </div>
  </div>
</div>



<!-- Carrossel - Melhores Descontos -->
<div class="container-fluid px-3 px-sm-5 my-5 text-center">
  <div class="product_heading">
    <h2>Melhores Descontos</h2>
  </div>
  <div class="owl-carousel mx-auto owl-theme owl-mDescontos">
    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">90% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">10% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">40% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">10% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>

    <div class="item">
      <div class="card border-0 px-4">
        <div class="row justify-content-center">
          <span id="badge-desconto" class="badge badge-danger">20% OFF</span>
          <img src="img/menina.jpg" class="img-fluid profile-pic mb-4 mt-3">
        </div>
        <h5 class="font-weight-bold">Fantasy T-shirt</h5>
        <p class="mb-2 text-muted text-uppercase small">Shirts</p>
        <hr style="background-color: #ddd;">
        <h5 class="mb-3">
          <span class="text-danger mr-1">R$ 12,99</span>
          <span class="text-grey"><s>R$ 36,99</s></span>
        </h5>
        <button type="button" class="btn btn-primary btn-sm mr-1 mb-2">
          <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
        </button>
        <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
          <i class="bi bi-info-circle pr-2"></i>Detalhes
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<br>



<!-- 3 Pequenos Banners de Produtos -->
<div class="card-columns mx-auto" style="width: 97%;">
  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text">
          <span class="font-weight-bold">Leve 2 camisas</span>
          <button class="btn btn-success rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; position: absolute; top: 310px; right: 20px;">CONFIRA</button>
          <br><span class="font-weight-bold">por </span><span class="font-weight-bold text-danger">R$ 29,90</span>
          <span class="font-weight-bold"> cada</span>
        </h5>
      </div>
    </div>
  </a>

  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text">
          <span class="font-weight-bold">Leve 3 calças</span>
          <button class="btn btn-success rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; position: absolute; top: 310px; right: 20px;">CONFIRA</button>
          <br><span class="font-weight-bold">por </span><span class="font-weight-bold text-danger">R$ 34,99</span>
          <span class="font-weight-bold"> cada</span>
        </h5>
      </div>
    </div>
  </a>

  <a href="#" style="color: black;">
    <div class="card mb-3 border-0 rounded-0">
      <img src="img/mulher-camera2.webp" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="mb-3 card-text">
          <span class="font-weight-bold">Leve 2 blusas</span>
          <button class="btn btn-success rounded-0 px-3 py-1 font-weight-bold"
            style="font-size: 14px; position: absolute; top: 310px; right: 20px;">CONFIRA</button>
          <br><span class="font-weight-bold">por </span><span class="font-weight-bold text-danger">R$ 20,99</span>
          <span class="font-weight-bold"> cada</span>
        </h5>
      </div>
    </div>
  </a>
</div>



<!-- Último Banner -->
<a href="#">
  <div class="banner mx-auto text-left mb-2"
    style="width: 97%; height: 100%; background-image:linear-gradient(rgba(68, 68, 68, 0.5), rgba(68,68,68,0.5)), url('img/mulher-camera.jpg');">
    <div class="container py-5 text-center">
      <h1 class="font-weight-bold">GRANDES OPORTUNIDADES</h1>
      <h4 class="font-italic mb-0">Com até 40% de desconto em todos os produtos!</h4>
      <br>
      <div class="btn rounded-0 btn-estatico">APROVEITAR</div>
    </div>
  </div>
</a>



<script>
  $(document).ready(function () {

    // Carrossel primeiro banner da página
    $('.owl-headBanner').owlCarousel({
      mouseDrag: true,
      autoplay: true,
      smartSpeed: 500,
      margin: 0,
      loop: true,
      items: 1,
      dots: true
    });

    // Carrossel PRODUTOS MAIS VENDIDOS
    $('.owl-pMaisVendidos').owlCarousel({
      mouseDrag: true,
      autoplay: true,
      smartSpeed: 500,
      margin: 0,
      loop: true,
      dots: false,
      responsive: {
        0: {
          items: 2,
          margin: 0,
          nav: false,
        },
        600: {
          items: 3,
          nav: true,
        },
        1000: {
          items: 4,
          nav: true
        }
      }
    });


    // Carrossel LANÇAMENTOS
    $('.owl-lancamentos').owlCarousel({
      mouseDrag: true,
      autoplay: true,
      smartSpeed: 500,
      margin: 0,
      loop: true,
      dots: false,
      responsive: {
        0: {
          items: 2,
          margin: 0,
          nav: false,
        },
        600: {
          items: 3,
          nav: true,
        },
        1000: {
          items: 4,
          nav: true
        }
      }
    });


    // CARROSSEL Na Bella CLothes também tem
    $('.owl-tambemTem').owlCarousel({
      mouseDrag: true,
      autoplay: true,
      smartSpeed: 500,
      margin: 0,
      loop: true,
      dots: false,
      responsive: {
        0: {
          items: 4,
          margin: 0,
          nav: false,
        },
        600: {
          items: 5,
          nav: true,
        },
        1000: {
          items: 6,
          nav: true
        }
      }
    });


    // Carrossel Melhores Descontos
    $('.owl-mDescontos').owlCarousel({
      mouseDrag: true,
      autoplay: true,
      smartSpeed: 500,
      margin: 0,
      loop: true,
      dots: false,
      responsive: {
        0: {
          items: 2,
          margin: 0,
          nav: false,
        },
        600: {
          items: 3,
          nav: true,
        },
        1000: {
          items: 4,
          nav: true
        }
      }
    });
  });
</script>