<p class="ml-4 mt-4 endereco-produto" style="font-size: 0.8em;">
    <span class="font-weight-bold"><a href="/">Home </a></span>/
    <span><a href="#"> Homem </a></span>/
    <span><a href="#"> Tênis </a></span>/
    <span><a href="#"> Nike </a></span>/
    <span> Tênis Curto Nike Preto</span>
</p>
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img id="imagemProdutoPrincipal" class="product-big-img" src="/img/tenisTeste.jpg"
                                alt="image alt" data-big="/img/tenisTeste-large.jpg">
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt active" data-imgbigurl="/img/TenisTeste.jpg"
                                    data-big="/img/TenisTeste-large.jpg"><img src="/img/TenisTeste.jpg" alt=""></div>
                                <div class="pt" data-imgbigurl="/img/1_standard.jpg"
                                    data-big="/img/1_standard-large.jpg"><img src="/img/1_standard.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="/img/menina.jpg" data-big="/img/menina-large.jpg"><img
                                        src="/img/menina.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="/img/menina.jpg" data-big="/img/menina-large.jpg"><img
                                        src="/img/menina.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>Tênis</span>
                                <h3>Tênis Curto Nike Preto</h3>
                                <span style="color: #19c880; font-weight: bold !important;">Marca: Nike</span>
                                <p style="color: red; font-weight: bold !important;"><i
                                        class="bi bi-exclamation-lg"></i>Faltam 5 no estoque !</p>
                            </div>
                            <div class="pd-desc">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum accusamus omnis
                                    similique maiores quos quibusdam quis asperiores, iure eos quaerat sed nihil nobis
                                    sint esse molestias commodi cupiditate distinctio quod.</p>
                                <h4>R$ 495,00<span>R$ 629,99</span></h4>
                            </div>
                            <div class="pd-color">
                                <h6 style="margin-top: 4px;">Cor</h6>
                                <div class="pd-color-choose">
                                    <div class="cc-item">
                                        <input type="radio" id="cc-black">
                                        <label for="cc-black"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-yellow">
                                        <label for="cc-yellow" style="background: #EEEE21;"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-violet">
                                        <label for="cc-violet" style="background: #8230E3;"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="pd-size-choose">
                                <h6 style="margin-top: 10px;">Tamanho</h6>
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">39</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="md-size">
                                    <label for="md-size">40</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="lg-size">
                                    <label for="lg-size">41</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="xl-size">
                                    <label for="xl-size">42/43</label>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                                <a href="#" class="primary-btn pd-cart">Adicionar ao Carrinho</a>
                            </div>
                            <ul class="pd-tags">
                                <li><span>Gênero</span>: Homem</li>
                                <li><span>Categoria</span>: Tênis</li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Código : 00012</div>
                                <div class="pd-social">
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-twitter"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIÇÃO</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">ESPECIFICAÇÕES</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Avaliações dos Clientes (3)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Introdução</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                            <h5>Recursos</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Nome</td>
                                            <td>
                                                <div class="p-stock">Tênis Curto Nike Preto</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Preço</td>
                                            <td>
                                                <div class="p-price">R$ 495,00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Indicado para</td>
                                            <td>
                                                <div class="p-stock">Dia a dia</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Disponibilidade</td>
                                            <td>
                                                <div class="p-stock">22 em estoque</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Peso</td>
                                            <td>
                                                <div class="p-weight">600g (par)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Marca</td>
                                            <td>
                                                <a href="" class="p-marca-link">
                                                    <div class="p-weight">Nike</div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Material</td>
                                            <td>
                                                <div class="p-weight">Têxtil</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Composição</td>
                                            <td>
                                                <div class="p-weight">Cabedal: Têxtil e Mesh; Entressola: EVA; Solado:
                                                    Borracha</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Quantidade Vendida</td>
                                            <td>
                                                <div class="p-weight">42</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Código</td>
                                            <td>
                                                <div class="p-code">00012</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>Avaliações dos Clientes (3)</h4>

                                    <div class="total-recommendations">
                                        <span class="value-total-recommendations">94%</span>
                                        <span class="at-rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        </span>
                                        <p>Recomendaram esse produto</p>
                                    </div>

                                    <div class="total-rating">
                                        <span class="value-total-rating">4.5</span>
                                        <span class="at-rating">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        </span>
                                        <p>Média entre 3 opiniões</p>
                                    </div>
                                    <div class="comment-option">
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>27 Agosto 2019</span></h5>
                                                <div class="at-reply">Produto lindo, confortável, de uma leveza sem
                                                    igual!!! Recomendo mtoooo!!! Acertaram nos detalhes ñ é exagerado
                                                    nas cores simplesmente toop!!!!</div>
                                                <h5 class="recommends text-success">Recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>21 Agosto 2019</span></h5>
                                                <div class="at-reply">O tênis é lindo mas além de muito apertado
                                                    (comprei um Nike Pegasus do mesmo tamanho e é muito confortável) não
                                                    tem flexibilidade nenhuma, parece que amarrei uma tábua no pé.</div>
                                                <h5 class="recommends text-danger">Não recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Roy Banks <span>2 Janeiro 2019</span></h5>
                                                <div class="at-reply">O tênis é lindo mas além de muito apertado
                                                    (comprei um Nike Pegasus do mesmo tamanho e é muito confortável) não
                                                    tem flexibilidade nenhuma, parece que amarrei uma tábua no pé.</div>
                                                <h5 class="recommends text-success">Recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="leave-comment">
                                        <h4>Faça um comentário</h4>
                                        <form action="#" class="comment-form">
                                            <div class="personal-rating">
                                                <h6>Sua avaliação</h6>
                                                <input type="hidden" id="avaliacaoComentario" value="0">
                                                <div class="rating">
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <textarea placeholder="Comentário..."></textarea>
                                                    <div class="create-item">
                                                        <label for="acc-create">
                                                            Recomenda esse produto?
                                                            <input type="checkbox" id="acc-create" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="primary-btn pd-cart mt-2">Enviar
                                                        Comentário</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<!-- Related Products Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="/img/menina.jpg" alt="">
                        <div class="sale">Sale</div>
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Coat</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $14.00
                            <span>$35.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="/img/menina.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Shoes</div>
                        <a href="#">
                            <h5>Guangzhou sweater</h5>
                        </a>
                        <div class="product-price">
                            $13.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="/img/menina.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Pure Pineapple</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="/img/menina.jpg" alt="">
                        <div class="icon">
                            <i class="icon_heart_alt"></i>
                        </div>
                        <ul>
                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                            <li class="quick-view"><a href="#">+ Quick View</a></li>
                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                        </ul>
                    </div>
                    <div class="pi-text">
                        <div class="catagory-name">Towel</div>
                        <a href="#">
                            <h5>Converse Shoes</h5>
                        </a>
                        <div class="product-price">
                            $34.00
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Products Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="/img/menina.jpg" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="/img/menina.jpg" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="/img/menina.jpg" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="/img/menina.jpg" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="/img/menina.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>