<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <p class="mt-4 endereco" style="font-size: 0.8em;">
            <span class="font-weight-bold"><a href="/" class="mr-1"><i class="bi bi-house-fill mr-1"></i>Home
                </a></span> >
            <span><a href="#" class="ml-1 mr-1"> Homem </a></span> >
            <span><a href="#" class="ml-1 mr-1"> Tênis </a></span> >
            <span><a href="#" class="ml-1 mr-1"> Nike </a></span> >
            <span class="ml-1"> Tênis Curto Nike Preto</span>
        </p>
        <hr style="margin-bottom: 50px;">

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <div class="big-img-modal">
                                <div class="big-img-modal-loader"></div>
                            </div>
                            <img id="imagemProdutoPrincipal" class="product-big-img" src="/img/tenisTeste.jpg"
                                alt="image alt" data-big="/img/tenisTeste-large.jpg">
                            <i class="bi bi-zoom-in"
                                style="position: absolute; font-size: 20px; top: 20px; left: 90%; cursor: pointer;"></i>
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel owl-ProductImages">
                                <div class="pt active" data-imgbigurl="/img/TenisTeste.jpg"
                                    data-big="/img/TenisTeste-large.jpg"><img src="/img/TenisTeste.jpg" alt=""></div>
                                <div class="pt" data-imgbigurl="/img/1_standard.jpg"
                                    data-big="/img/1_standard-large.jpg"><img src="/img/1_standard.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="/img/menina.jpg" data-big="/img/menina-large.jpg"><img
                                        src="/img/menina.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="/img/menina.jpg" data-big="/img/menina-large.jpg"><img
                                        src="/img/menina.jpg" alt="">
                                </div>
                                <div class="pt" data-imgbigurl="/img/tenisTeste.jpg"
                                    data-big="/img/tenisTeste-large.jpg"><img src="/img/tenisTeste.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="myModal" class="modal">

                            <!-- The Close Button -->
                            <span class="close"><i class="bi bi-x-lg"></i></span>

                            <!-- Modal Content (The Image) -->
                            <img class="modal-content" id="img01">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>Tênis</span>
                                <h3>Tênis Curto Nike - Preto</h3>
                                <span style="color: #19c880; font-weight: bold !important;">Marca: Nike</span>
                                <p style="color: red; font-weight: bold !important;"><i
                                        class="bi bi-exclamation-lg"></i>Faltam 5 no estoque !</p>
                            </div>
                            <div class="pd-desc">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum accusamus omnis
                                    similique maiores quos quibusdam quis asperiores, iure eos quaerat sed nihil nobis
                                    sint esse molestias commodi cupiditate distinctio quod.</p>
                                <h4>R$ 495,00<span>R$ 629,99</span></h4>
                            </div>
                            <div class="pd-color">
                                <h6 style="margin-top: 4px;">Cor: Preto</h6><br><br>
                                <div class="pd-color-choose">
                                    <input type="hidden" name="cor" value="Preto">
                                    <div class="cc-item active">
                                        <div class="pt"><img src="/img/tenisTeste.jpg" class="image-product-color"
                                                alt=""></div>
                                    </div>
                                    <div class="cc-item">
                                        <div class="pt"><img src="/img/tenisTeste.jpg" class="image-product-color"
                                                alt=""></div>
                                    </div>
                                    <div class="cc-item">
                                        <div class="pt"><img src="/img/tenisTeste.jpg" class="image-product-color"
                                                alt=""></div>
                                    </div>
                                </div>
                            </div>

                            <div class="pd-size-choose">
                                <h6 style="margin-top: 10px;">Tamanho</h6>
                                <input type="hidden" name="tamanho" value="39">
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">39</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="md-size">
                                    <label for="md-size">40</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="lg-size">
                                    <label for="lg-size">41</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="xl-size">
                                    <label for="xl-size">42/43</label>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </div>
                                <a href="#" class="primary-btn pd-cart">Adicionar ao Carrinho</a>
                            </div>
                            <ul class="pd-tags">
                                <li><span>Gênero</span>: Homem</li>
                                <li><span>Categoria</span>: Calçados</li>
                                <li><span>Subcategoria</span>: Tênis</li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Código : 00012</div>
                                <div class="pd-social">
                                    <a href="#"><i class="bi bi-facebook"></i></a>
                                    <a href="#"><i class="bi bi-twitter"></i></a>
                                    <a href="#"><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIÇÃO</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">ESPECIFICAÇÕES</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Avaliações dos Clientes (3)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h5>Introdução</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                            <h5>Recursos</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Nome</td>
                                            <td>
                                                <div class="p-stock">Tênis Curto Nike Preto</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Preço</td>
                                            <td>
                                                <div class="p-price">R$ 495,00</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Indicado para</td>
                                            <td>
                                                <div class="p-stock">Dia a dia</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Disponibilidade</td>
                                            <td>
                                                <div class="p-stock">22 em estoque</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Peso</td>
                                            <td>
                                                <div class="p-weight">600g (par)</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Marca</td>
                                            <td>
                                                <a href="" class="p-marca-link">
                                                    <div class="p-weight">Nike</div>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Material</td>
                                            <td>
                                                <div class="p-weight">Têxtil</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Composição</td>
                                            <td>
                                                <div class="p-weight">Cabedal: Têxtil e Mesh; Entressola: EVA; Solado:
                                                    Borracha</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Quantidade Vendida</td>
                                            <td>
                                                <div class="p-weight">42</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Código</td>
                                            <td>
                                                <div class="p-code">00012</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>Avaliações dos Clientes (3)</h4>
                                    <div class="row" style="margin-bottom: 40px;">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12 mb-4">
                                                    <div class="total-recommendations">
                                                        <div class="value-total-recommendations">94%</div>

                                                        <div class="progress rounded-0 mb-2">
                                                            <div class="progress-bar bg-success" role="progressbar"
                                                                style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>

                                                        <p>Recomendaram esse produto</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="total-rating">
                                                        <div class="value-total-rating">4.5</div>
                                                        <div class="at-rating">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-half"></i>
                                                            <i class="bi bi-star"></i>
                                                        </div>
                                                        <p>Média entre 3 opiniões</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-8 d-flex justify-content-center align-items-center qtt-stars-rating">
                                            <div class="p-2 w-100 after-qtt-stars-rating">
                                                <div class="row-star-bar d-flex">
                                                    <div class="side left">
                                                        <div class="stars-bar">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="middle flex-grow-1" style="margin-left: 30px;">
                                                        <div class="bar-container">
                                                            <div class="bar-5"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side right"
                                                        style="width: 70px; float: right; text-align: right;">
                                                        <div>150</div>
                                                    </div>
                                                </div>

                                                <div class="row-star-bar d-flex">
                                                    <div class="side left">
                                                        <div class="stars-bar" style="width: 96px; text-align: right;">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="middle flex-grow-1" style="margin-left: 30px;">
                                                        <div class="bar-container">
                                                            <div class="bar-4"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side right ms-auto"
                                                        style="width: 70px; float: right; text-align: right;">
                                                        <div>61</div>
                                                    </div>
                                                </div>

                                                <div class="row-star-bar d-flex">
                                                    <div class="side left">
                                                        <div class="stars-bar" style="width: 96px; text-align: right;">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="middle flex-grow-1" style="margin-left: 30px;">
                                                        <div class="bar-container">
                                                            <div class="bar-3"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side right"
                                                        style="width: 70px; float: right; text-align: right;">
                                                        <div>5</div>
                                                    </div>
                                                </div>

                                                <div class="row-star-bar d-flex">
                                                    <div class="side left">
                                                        <div class="stars-bar" style="width: 96px; text-align: right;">
                                                            <i class="bi bi-star-fill"></i>
                                                            <i class="bi bi-star-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="middle flex-grow-1" style="margin-left: 30px;">
                                                        <div class="bar-container">
                                                            <div class="bar-2"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side right"
                                                        style="width: 70px; float: right; text-align: right;">
                                                        <div>2</div>
                                                    </div>
                                                </div>

                                                <div class="row-star-bar d-flex">
                                                    <div class="side left">
                                                        <div class="stars-bar" style="width: 96px; text-align: right;">
                                                            <i class="bi bi-star-fill"></i>
                                                        </div>
                                                    </div>
                                                    <div class="middle flex-grow-1" style="margin-left: 30px;">
                                                        <div class="bar-container">
                                                            <div class="bar-1"></div>
                                                        </div>
                                                    </div>
                                                    <div class="side right"
                                                        style="width: 70px; float: right; text-align: right;">
                                                        <div>55</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-option">
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>27 Agosto 2019</span></h5>
                                                <div class="at-reply">Produto lindo, confortável, de uma leveza sem
                                                    igual!!! Recomendo mtoooo!!! Acertaram nos detalhes ñ é exagerado
                                                    nas cores simplesmente toop!!!!</div>
                                                <h5 class="recommends text-success">Recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>21 Agosto 2019</span></h5>
                                                <div class="at-reply">O tênis é lindo mas além de muito apertado
                                                    (comprei um Nike Pegasus do mesmo tamanho e é muito confortável) não
                                                    tem flexibilidade nenhuma, parece que amarrei uma tábua no pé.</div>
                                                <h5 class="recommends text-danger">Não recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                                <h5>Roy Banks <span>2 Janeiro 2019</span></h5>
                                                <div class="at-reply">O tênis é lindo mas além de muito apertado
                                                    (comprei um Nike Pegasus do mesmo tamanho e é muito confortável) não
                                                    tem flexibilidade nenhuma, parece que amarrei uma tábua no pé.</div>
                                                <h5 class="recommends text-success">Recomendo esse produto!</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="leave-comment">
                                        <h4>Faça um comentário</h4>
                                        <form action="#" class="comment-form">
                                            <div class="personal-rating">
                                                <h6>Sua avaliação</h6>
                                                <input type="hidden" id="avaliacaoComentario" value="0">
                                                <div class="rating">
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                    <i class="star-your-rating bi bi-star"></i>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <textarea placeholder="Comentário..."></textarea>
                                                    <div class="create-item">
                                                        <label for="acc-create">
                                                            Recomenda esse produto?
                                                            <input type="checkbox" id="acc-create" checked="checked">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="primary-btn pd-cart mt-3">Enviar
                                                        Comentário</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product Shop Section End -->
<div class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Produtos Relacionados</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-hover mx-auto owl-theme owl-ProductsSectionEnd text-center">
            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>

            <div class="item">
                <div class="card border-0 px-4">
                    <div class="row justify-content-center image-product">
                        <span class="badge badge-desconto">-90%</span>
                        <img src="/img/tenisTeste.jpg" class="img-fluid profile-pic mb-4 mt-3">
                        <div class="product-info">
                            <div class="icon"><i class="bi bi-info-circle"></i></div>
                            <div class="contents d-flex flex-row flex-wrap">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Indicado para</p>
                                            <p>Dia a dia</p>
                                        </div>
                                        <div>
                                            <p>Disponibilidade</p>
                                            <p>12 em estoque</p>
                                        </div>
                                        <div>
                                            <p>Peso</p>
                                            <p>200g (par)</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <p>Marca</p>
                                            <p>Adidas</p>
                                        </div>
                                        <div>
                                            <p>Material</p>
                                            <p>Têxtil</p>
                                        </div>
                                        <div>
                                            <p>Composição</p>
                                            <p>Cabedal: Têxtil e Mesh; Endivessola: EVA; Solado: Borracha</p>
                                        </div>
                                        <div>
                                            <p>Quantidade vendida</p>
                                            <p>231</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-add-favorite">
                            <i class="bi"></i>
                        </div>
                    </div>
                    <h5 class="font-weight-bold">Tênis Preto Nike</h5>
                    <p class="mb-2 text-muted text-uppercase small">Tênis</p>
                    <hr style="background-color: #ddd;">
                    <h5 class="m-0 p-0"><span>R$ 12,99</span></h5>
                    <p class="mb-3 text-secondary">3x de R$ 39,90</p>
                    <button type="button" class="btn add-cart btn-sm mr-1 mb-2">
                        <i class="bi bi-cart2 pr-2"></i>Adicionar ao Carrinho
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-1 mb-2">
                        <i class="bi bi-info-circle pr-2"></i>Detalhes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>