<div class="owl-carousel owl-theme w-100 p-0 owl-headBanner">
    <div class="custom_overlay_wrapper">
        <a href="http://google.com">
            <img src="/img/home/camisas-banner.jpg">
            <div class="custom_overlay">
                <span class="custom_overlay_inner">
                    <h2>Conheça os diferentes tipos de skate</h2>
                    <button>Ler mais</button>
                </span>
            </div>
        </a>
    </div>
    <div class="custom_overlay_wrapper">
        <a href="http://google.com">
            <img src="/img/home/camisas-banner2.jpg">
            <div class="custom_overlay">
                <span class="custom_overlay_inner">
                    <h2>Como retomar a rotina de exercícios?</h2>
                    <button>Ler mais</button>
                </span>
            </div>
        </a>
    </div>
</div>