<div class="mx-auto search-posts-box text-right py-2">
    <form action="/blog/busca" method="GET" id="search-blog-form">
        <input type="text" name="buscar" class="search-posts-input" placeholder="Buscar...">
        <i class="bi bi-search search-posts-icon"></i>
    </form>
</div>

<div class="resultados">
    <p class="mt-4 address-navigation">
        <span>
            <a href="/blog" class="mr-1">Home</a> >
        </span>
        <span class="ml-1 mr-1">
            <span>
                Resultados para "<span class="busca-texto">{{buscar}}</span>"
            </span>
        </span>
    </p>

    <h3 class="resultados-title">Resultados para "<span class="busca-texto">{{buscar}}</span>"</h3>

    <div class="resultados-posts">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/tenisTeste.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/menina.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
    </div>

    {{!-- <div class="nenhum-resultado">
        <h6>Nenhum resultado de busca para:</h6>
        <h6>"{{buscar}}"</h6>
    </div> --}}
    <hr>
</div>

<h4 class="text-center font-weight-bold" style="margin-top: 4rem; margin-bottom: 2rem;">CONHEÇA TAMBÉM</h4>

<div class="tabs">

    <div class="tabs-menu">
        <input type="radio" name="tabs" id="tab-lifestyle">
        <label for="tab-lifestyle"><span>Lifestyle</span></label>

        <input type="radio" name="tabs" id="tab-esportes">
        <label for="tab-esportes"><span>Esportes</span></label>

        <input type="radio" name="tabs" id="tab-bem-estar">
        <label for="tab-bem-estar"><span>Bem-estar</span></label>

        <input type="radio" name="tabs" id="tab-dia-a-dia">
        <label for="tab-dia-a-dia"><span>Dia a dia</span></label>
    </div>

    <div class="tab" data-tab="tab-lifestyle">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/tenisTeste.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/menina.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/" class="tab-post view-all-posts">
            <div class="view-all-posts-content">
                <i class="bi bi-three-dots"></i><br>
                <h4>Ver tudo de Lifestyle</h4>
            </div>
        </a>
    </div>


    <div class="tab" data-tab="tab-esportes">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/" class="tab-post view-all-posts">
            <div class="view-all-posts-content">
                <i class="bi bi-three-dots"></i><br>
                <h4>Ver tudo de Esportes</h4>
            </div>
        </a>
    </div>


    <div class="tab" data-tab="tab-bem-estar">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/" class="tab-post view-all-posts">
            <div class="view-all-posts-content">
                <i class="bi bi-three-dots"></i><br>
                <h4>Ver tudo de Bem-estar</h4>
            </div>
        </a>
    </div>


    <div class="tab" data-tab="tab-dia-a-dia">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="tab-post">
            <div class="tab-post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="tab-post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/" class="tab-post view-all-posts">
            <div class="view-all-posts-content">
                <i class="bi bi-three-dots"></i><br>
                <h4>Ver tudo de Dia a Dia</h4>
            </div>
        </a>
    </div>
</div>