<div class="mx-auto search-posts-box text-right py-2">
    <form action="/blog/busca" method="GET" id="search-blog-form">
        <input type="text" name="buscar" class="search-posts-input" placeholder="Buscar...">
        <i class="bi bi-search search-posts-icon"></i>
    </form>
</div>

<div class="post-conteudo">
    <p class="mt-4 address-navigation">
        <span>
            <a href="/blog" class="mr-1">Home</a> >
        </span>
        <span class="ml-1 mr-1">
            <a href="/blog/lifestyle" class="mr-1">Lifestyle</a> >
        </span>
        <span class="ml-1 mr-1">
            <span>
                Dicas para deixar seu tênis limpinho
            </span>
        </span>
    </p>

    <div class="custom_overlay_wrapper">
        <img src="/img/home/bolsa.jpg">
        <div class="custom_overlay"></div>
    </div>

    <div class="post-texto">
        <h2 class="post-title">Dicas para deixar seu tênis limpinho</h2>
        <div class="d-flex flex-row flex-wrap mb-3">
            <span>por <a href="/blog/busca?buscar=Alexander+Pierce">Alexander Pierce</a></span>
            <span class="mx-2">|</span>
            <span class="text-secondary flex-grow-1">14/04/2020</span>
            <span class="mr-2">Compartilhe:</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho"
                class="social-network"><i class="bi bi-facebook mr-2"></i></a>
            <a href="https://twitter.com/intent/tweet?text=Acabei de visitar o post%20Dicas para deixar seu tênis limpinho%20/dicas-para-deixar-seu-tenis-limpinho"
                class="social-network"><i class="bi bi-twitter mr-2"></i></a>
            <a href="https://api.whatsapp.com/send?text=/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho"
                class="social-network"><i class="bi bi-whatsapp"></i></a>
        </div>
        <p class="texto">
            Quem pratica atividade física, principalmente ao ar livre, não tem como evitar que, vez ou outra, os tênis
            acabem ficando muito sujos. Além disso, é praticamente impossível não transpirar durante a prática
            esportiva, e isso inclui os pés, o que pode causar chulé.
            <br><br>
            Para deixar seus tênis sempre limpinhos, a primeira dica é não deixar a sujeira ficar por muito tempo no
            calçado. O ideal é passar, ao menos, um pano úmido para retirar alguma eventual mancha o mais rápido
            possível.
            <br><br>
            Também é essencial seguir as orientações que estão na etiqueta do fabricante. A maioria dos calçados
            esportivos não pode ser colocado na máquina de lavar. Caso o fabricante informe que é permitido, ponha os
            tênis em um saquinho para roupas delicadas ou em uma fronha, assim vai protegê-los mais na lavagem.
            <br><br>
            Outra informação que vale para quase todos os tênis é usar um sabão neutro na lavagem. Os outros detergentes
            podem estragar os materiais dos quais são feitos os calçados esportivos. Misture o sabão à água e use uma
            escova de cerdas macias (pode ser uma de dentes que não usa mais) para fazer a limpeza.
            <br><br>
            Antes de começar a lavagem, retire os cadarços e as palmilhas para lavá-los separadamente em água e sabão.
            Esfregue os 2 lados da palmilha com a escova. Os cadarços podem ser lavados entre as mãos, fazendo bastante
            espuma. Enxágue bem e pendure tudo no varal.
            <br><br>
            Com a escovinha molhada em água e sabão, vá esfregando o tênis, começando pela entressola. Depois, passe no
            cabedal com delicadeza. Se achar necessário, pode molhar um pouco o calçado com água, mas evite encharcar os
            tênis porque, como eles só podem secar à sombra, pode demorar muito para sair toda a umidade.
            <br><br>
            Após esfregar os dois pés, enxágue bem para não ficar nenhum resíduo de sabão ou seu tênis pode ficar
            manchado. Deixe secar em um local bastante arejado, mas sem sol direto.
            <br><br>
            <a href="/loja/tênis">Escolha seu tênis na Bella Clothes</a>
        </p>
    </div>
</div>