<div class="mx-auto search-posts-box text-right py-2">
    <form action="/blog/busca" method="GET" id="search-blog-form">
        <input type="text" name="buscar" class="search-posts-input" placeholder="Buscar...">
        <i class="bi bi-search search-posts-icon"></i>
    </form>
</div>

<div class="resultados">
    <p class="mt-4 address-navigation">
        <span>
            <a href="/blog" class="mr-1">Home</a> >
        </span>
        <span class="ml-1 mr-1">
            <span>
                Tudo de Lifestyle
            </span>
        </span>
    </p>

    <h3 class="resultados-title">Tudo de Lifestyle</h3>

    <div class="resultados-posts">
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/tenisTeste.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/menina.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>

        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
        <a href="/blog/lifestyle/dicas-para-deixar-seu-tenis-limpinho" class="post">
            <div class="post-img">
                <img src="/img/1_standard-large.jpg" alt="">
            </div>
            <div class="post-title">
                <h5>Dicas para deixar seu tênis limpinho</h5>
            </div>
        </a>
    </div>
</div>