<div class="d-flex flex-row flex-wrap mb-3">
    <h3 class="title flex-grow-1">
        Blog Posts
    </h3>
    <a href="/admin/blog/adicionar-post" class="btn adicionar-post"><i class="bi bi-plus-lg mr-2"></i>Adicionar Novo
        Post</a>
</div>

<div class="card color-mode">
    <table id="table-posts" class="table table-sm table-responsive-md">
        <thead>
            <tr>
                <th>ID</th>
                <th>TÍTULO</th>
                <th>CATEGORIA</th>
                <th></th>
                <th>POSTADO POR</th>
                <th>DATA</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>