<div class="container" style="margin-bottom: 100px; margin-top: 50px">
    <form action="#" method="POST" id="formEndereco">
        <div class="row">
            <div class="col-sm-8 col-endereco">
                <h3 class="font-weight-bold">Editar endereço</h3>
                <p style="margin-top: 44.5px; font-weight: bold;">Endereço</p>

                <div class="card card-endereco shadow mt-3 active p-4" id="card-endereco-principal">
                    <div class="endereco-form">
                        <p class="mb-2">* Campos Obrigatórios</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="nome">* Nome</label>
                                    <input type="text" id="nome" placeholder="* Nome Completo">
                                    <span class="theTooltip">Preencha o campo Nome</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="cep">* CEP</label>
                                    <input type="text" id="cep"
                                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                                        maxlength="8" placeholder="* CEP">
                                    <span class="theTooltip">Preencha o campo CEP</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="">* Estado</label>
                                    <select class="custom-select" name="estado" id="estado">
                                        <option selected style="background-color: #e6e6e6; font-weight: bold;">Selecione
                                        </option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                    <input type="hidden" id="hidden-estado">
                                    <span class="theTooltip" id="tooltipEstado">Escolha um Estado</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="cidade">* Cidade </label>
                                    <input type="text" id="cidade" placeholder="* Cidade">
                                    <span class="theTooltip">Preencha o campo Cidade</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <div class="group-input">
                                    <label for="nome_do_endereco">* Endereço</label>
                                    <input type="text" id="nome_do_endereco" placeholder="* Nome do Endereço">
                                    <span class="theTooltip">Preencha o campo Nome do Endereço</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="group-input">
                                    <label for="" class="hiddenName">&nbsp;</label>
                                    <input type="text" id="numeroEndereco" placeholder="* Nº">
                                    <span class="theTooltip">Preencha o campo Nº</span>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="group-input">
                                    <label for="" class="hiddenName">&nbsp;</label>
                                    <input type="text" id="complemento" placeholder="Complemento">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="bairro">* Bairro</label>
                                    <input type="text" id="bairro" placeholder="* Bairro">
                                    <span class="theTooltip">Preencha o campo Bairro</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="group-input">
                                    <label for="ponto_referencia">Ponto de Referência</label>
                                    <input type="text" id="ponto_referencia" placeholder="Ponto de Referência">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="group-input">
                                    <label for="informacoes_adicionais">Informações adicionais</label>
                                    <textarea name="informacoes_adicionais" id="informacoes_adicionais" rows="5"
                                        placeholder="Descrição da fachada, informações do local, informações de segurança, etc."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: 40px;">
                    <div class="col-sm-5 mb-2">
                        <input type="button" onclick="verificarFormulario()" id="continuar"
                            class="btn text-white btn-continuar rounded-0 w-100 p-2" value="CONTINUAR">
                    </div>
                </div>
            </div>


            <div class="col-sm-4 col-resumo-compra">
                <h3 class="font-weight-bold" style="margin-top: 68px;">Resumo da Compra</h3>
                <div class="card shadow mt-3 bg-light font-weight-bold">
                    <div style="overflow-y: auto; max-height: 225px;">
                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Subtotal (10 itens):</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 24,90</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Frete</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>Grátis</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Desconto</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 0,00</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-0 pb-0">
                        <div class="pb-0 pt-2 pl-2 pr-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Valor Total</p>
                        </div>
                        <div class="pb-0 pt-2 pl-2 pr-2 bd-highlight">
                            <p>R$ 881,90</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 mt-0 pt-0" style="align-self: flex-end;">
                        <p class="text-secondary mt-0 pt-0 pr-2" style="font-size: 12px;">Em até 10x de R$ 81,90 sem
                            juros
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>