<div class="container" style="margin-bottom: 100px; margin-top: 50px">
    <form action="#" method="POST">
        <div class="row">
            <div class="col-sm-8 endereco">
                <h3 class="font-weight-bold">Como você prefere pagar?</h3>
                <p style="margin-top: 44.5px; font-weight: bold;">Cartão de Crédito</p>


                <div class="card card-pagamento shadow mt-3 pt-3 active" id="card-pagamento-123">
                    <input type="radio" name="pagamento" id="input-transporte-123" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/mastercard.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Mastercard **** 3384</h5>
                        </div>
                    </div>
                </div>

                <div class="card card-pagamento shadow pb-3" id="card-pagamento-321">
                    <input type="radio" name="pagamento" id="input-transporte-321" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/banco-brasil.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Banco do Brasil **** 1231</h5>
                        </div>
                    </div>
                </div>

                <div class="card card-pagamento shadow" id="card-pagamento-341324121">
                    <input type="radio" name="pagamento" id="input-transporte-341324121" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/american-express.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>American Express **** 1321</h5>
                        </div>
                    </div>
                </div>

                <div class="card card-pagamento shadow" id="card-pagamento-34123asdf4121">
                    <input type="radio" name="pagamento" id="input-transporte-34123asdf4121" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/diners-club.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Diners Club **** 1321</h5>
                        </div>
                    </div>
                </div>

                <a href="/checkout/1231/adicionarCartao">
                    <div class="card card-pagamento card-adicionar shadow" id="card-pagamento-12asfrewq3321">
                        <input type="radio" name="pagamento" id="input-transporte-12asfrewq3321" class="pagamento">
                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight text-center" style="align-self: center;">
                                <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1" style="display: none;"></i>
                            </div>
                            <div class="p-2 bd-highlight text-center" style="align-self: center;">
                                <div class="p-2 bg-icone-pagamento">
                                    <i class="bi bi-credit-card icone-pagamento"></i>
                                </div>
                            </div>
                            <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                                <h5>Adicionar Cartão</h5>
                            </div>
                        </div>
                    </div>
                </a>

                <p style="margin-top: 44.5px; font-weight: bold;">Cartão de Débito</p>


                <div class="card card-pagamento shadow" id="card-pagamento-123321">
                    <input type="radio" name="pagamento" id="input-transporte-213321" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/elo.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Elo **** 9231</h5>
                        </div>
                    </div>
                </div>

                <div class="card card-pagamento shadow" id="card-pagamento-12asfrewq3321">
                    <input type="radio" name="pagamento" id="input-transporte-12asfrewq3321" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/hipercard.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Hipercard **** 9231</h5>
                        </div>
                    </div>
                </div>

                <a href="/checkout/1231/adicionarCartao">
                    <div class="card card-pagamento card-adicionar shadow" id="card-pagamento-12asfrewq3321">
                        <input type="radio" name="pagamento" id="input-transporte-12asfrewq3321" class="pagamento">
                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight text-center" style="align-self: center;">
                                <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1" style="display: none;"></i>
                            </div>
                            <div class="p-2 bd-highlight text-center" style="align-self: center;">
                                <div class="p-2 bg-icone-pagamento">
                                    <i class="bi bi-credit-card icone-pagamento"></i>
                                </div>
                            </div>
                            <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                                <h5>Adicionar Cartão</h5>
                            </div>
                        </div>
                    </div>
                </a>


                <p style="margin-top: 44.5px; font-weight: bold;">Outros meios de pagamento</p>


                <div class="card card-pagamento shadow" id="card-pagamento-123321">
                    <input type="radio" name="pagamento" id="input-transporte-213321" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <i class="bi bi-upc icone-pagamento"></i>
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5 class="mb-0 pb-0">Boleto</h5>
                            <p class="mt-0 pt-0" style="color: rgb(174, 174, 174);">Será aprovado em 1 ou 2 dias úteis
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card card-pagamento shadow" id="card-pagamento-12asfrewq3321">
                    <input type="radio" name="pagamento" id="input-transporte-12asfrewq3321" class="pagamento">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <div class="p-2 bg-icone-pagamento">
                                <img src="/img/icone-pagamento/pix.png" alt="" class="icone-pagamento">
                            </div>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5 class="mb-0 pb-0">PIX</h5>
                            <p class="mt-0 pt-0" style="color: rgb(174, 174, 174);">Aprovação Imediata</p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-sm-4 col-resumo-compra">
                <h3 class="font-weight-bold" style="margin-top: 68px;">Resumo da Compra</h3>
                <div class="card shadow mt-3 bg-light font-weight-bold">
                    <div style="overflow-y: auto; max-height: 225px;">
                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Subtotal (10 itens):</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 24,90</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Frete</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>Grátis</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Desconto</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 0,00</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-0 pb-0">
                        <div class="pb-0 pt-2 pl-2 pr-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Valor Total</p>
                        </div>
                        <div class="pb-0 pt-2 pl-2 pr-2 bd-highlight">
                            <p>R$ 881,90</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 mt-0 pt-0" style="align-self: flex-end;">
                        <p class="text-secondary mt-0 pt-0 pr-2" style="font-size: 12px;">Em até 10x de R$ 81,90 sem
                            juros
                        </p>
                    </div>

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-0 pb-0 mt-3 pl-2 pr-2">
                        <button class="btn text-white btn-continuar rounded-0 w-100 p-2">CONTINUAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>