<div class="container" style="margin-bottom: 100px; margin-top: 50px">
    <form action="#" method="POST">
        <div class="row">
            <div class="col-sm-8 endereco">
                <h3 class="font-weight-bold">Como você quer receber a sua compra?</h3>
                <p style="margin-top: 44.5px; font-weight: bold;">Endereço</p>
                <div class="card endereco shadow mt-3">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight flex-grow-1 text-center" style="align-self: center;">
                            <i class="bi bi-geo-alt-fill" style="font-size: 40px;"></i>
                        </div>
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="font-weight-bold" style="color: black;">RUA TAL, 11</p>
                            <p class="text-secondary" style="font-size: 0.8rem">Centro, Belo Horizonte MG - 12345-000
                            </p>
                            <p class="text-secondary" style="font-size: 0.8rem">Complemento: Casa</p>
                            <p class="text-secondary" style="font-size: 0.8rem">Ponto de Referência: Supermercados BH
                            </p>
                            <p class="text-secondary" style="font-size: 0.8rem">Informações Adicionais: Entregar na casa
                                ao lado</p>
                            <p class="text-secondary" style="font-size: 0.9rem">ALEXANDER PIERCE
                                - 11912345678
                            </p>
                        </div>
                        <div class="p-2 bd-highlight" style="align-self: center;">
                            <a href="/checkout/:id/escolherEndereco">
                                <p>Editar ou escolher outro</p>
                            </a>
                        </div>
                    </div>
                </div>

                <p style="margin-top: 80px; font-weight: bold;">Tipo de transporte</p>
                <div class="card card-transporte shadow mt-3 pt-3 pb-3 active" id="card-transporte-normal">
                    <input type="radio" name="transporte" id="input-transporte-normal" class="transporte">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Chegará entre 18 e 23 de Junho em seu endereço</h5>
                        </div>
                        <div class=" p-2 bd-highlight text-center" style="align-self: center;">
                            <span class="text-black font-weight-bold" style="font-size: 20px;">Grátis</span>
                        </div>
                    </div>
                </div>

                <div class="card card-transporte shadow mt-3 pt-3 pb-3" id="card-transporte-expresso">
                    <input type="radio" name="transporte" id="input-transporte-expresso" class="transporte">
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 bd-highlight text-center" style="align-self: center;">
                            <i class="bi bi-check-lg pl-2 pr-2 pt-1 pb-1"></i>
                        </div>
                        <div class="pt-2 ml-2 bd-highlight flex-grow-1 text-left" style="align-self: center;">
                            <h5>Chegará entre 16 e 19 de Junho em seu endereço</h5>
                        </div>
                        <div class="p-2 bd-highlight">

                            <span class="text-black font-weight-bold" style="font-size: 20px;">R$ 23,90</span>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-sm-4 col-resumo-compra">
                <h3 class="font-weight-bold" style="margin-top: 68px;">Resumo da Compra</h3>
                <div class="card shadow mt-3 bg-light font-weight-bold">
                    <div style="overflow-y: auto; max-height: 225px;">
                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>

                        <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                            <div class="p-2 bd-highlight">
                                <img src="/img/tenisTeste.jpg" alt="produto" style="height: 90px;">
                            </div>
                            <div class="p-2 flex-grow-1 bd-highlight">
                                <p class="font-weight-bold" style="color: black; font-size: 0.8rem;">Tênis Nike (2)</p>
                                <p style="font-size: 0.7rem"><span class="text-black">Tamanho:</span>
                                    <span class="text-secondary"> 39</span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    <span class="text-black">Cor:</span>
                                    <span class="text-secondary"> Preto</span>

                                </p>

                                <p style="font-size: 0.7rem">
                                    <span class="text-black">R$ 238,90
                                        <span class="text-secondary ml-1" style="text-decoration: line-through;">
                                            R$238,90</span>
                                    </span>
                                </p>
                                <p style="font-size: 0.7rem">
                                    Embalar para presente
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Subtotal (10 itens):</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 24,90</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Frete</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>Grátis</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Desconto</p>
                        </div>
                        <div class="p-2 bd-highlight">
                            <p>R$ 0,00</p>
                        </div>
                    </div>

                    <hr style="width: 95%;" class="mx-auto">

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-0 pb-0">
                        <div class="pb-0 pt-2 pl-2 pr-2 flex-grow-1 bd-highlight">
                            <p class="text-secondary">Valor Total</p>
                        </div>
                        <div class="pb-0 pt-2 pl-2 pr-2 bd-highlight">
                            <p>R$ 881,90</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 mt-0 pt-0" style="align-self: flex-end;">
                        <p class="text-secondary mt-0 pt-0 pr-2" style="font-size: 12px;">Em até 10x de R$ 81,90 sem
                            juros
                        </p>
                    </div>

                    <div class="d-flex flex-row flex-wrap bd-highlight mb-0 pb-0 mt-3 pl-2 pr-2">
                        <button class="btn text-white btn-continuar rounded-0 w-100 p-2">CONTINUAR</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>