<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Login</h2>
                    <form action="#">
                        <div class="group-input">
                            <label for="username">Email, CPF ou CNPJ</label>
                            <input type="text" id="username" name="username"
                                placeholder=" Insira seu Email, CPF ou CNPJ">
                        </div>
                        <div class="group-input">
                            <label for="pass">Senha</label>
                            <input type="password" id="pass" name="senha" placeholder="Insira sua Senha">
                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <a href="#" class="forget-pass">Esqueceu sua senha?</a>
                            </div>
                        </div>
                        <button type="submit" class="site-btn btn btn-success login-btn">Login</button>
                    </form>
                    <div class="switch-login">
                        <a href="/registrar" class="or-login">Ou Criar uma Conta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#content").remove();
</script>