<form id="formRegistro" action="/registrar/juridica" method="POST">

    <div class="container" style="margin-top: 80px; margin-bottom: 80px;">
        <h2 style="margin-bottom: 50px;">Cadastro</h2>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs tabs-register" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/registrar/fisica">Pessoa Física</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="juridica-tab" data-toggle="tab" role="tab"
                                aria-controls="home" aria-selected="true">Pessoa Jurídica</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="juridica-tab">
                            <div class="register-login-section spad">
                                <div class="container">
                                    <div class="register-form">
                                        <p>* Campos Obrigatórios</p>

                                        <input type="hidden" id="tipoPessoa" name="tipoPessoa" value="2">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="razao_social">* Razão Social</label>
                                                    <input type="text" id="razao_social" name="razao_social"
                                                        placeholder="* Razão Social">
                                                    <span class="theTooltip">Preencha o campo Razão Social</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="fantasia">* Nome Fantasia</label>
                                                    <input type="text" id="fantasia" name="fantasia"
                                                        placeholder="* Nome Fantasia">
                                                    <span class="theTooltip">Preencha o campo Nome Fantasia</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="cnpj">* CNPJ</label>
                                                    <input type="text"
                                                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                                                        id="cnpj" name="cnpj" placeholder="* CNPJ">
                                                    <span class="theTooltip">Preencha o campo CNPJ</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="group-input">
                                                    <label for="inscricao_municipal">Inscrição Municipal</label>
                                                    <input type="text" id="inscricao_municipal"
                                                        name="inscricao_municipal" placeholder="Inscrição Municipal">
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="group-input">
                                                    <label for="inscricao_estadual">* Inscrição Estadual</label>
                                                    <input type="text"
                                                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                                                        maxlength="14" id="inscricao_estadual" name="inscricao_estadual"
                                                        placeholder="* Inscrição Estadual">
                                                    <span class="theTooltip">Preencha o campo Inscrição Estadual</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="group-input">
                                                    <label for="" class="hiddenName">&nbsp;</label>
                                                    <div class="form-check form-check-inline" style="height: 1px;">
                                                        <input type="checkbox" id="check_isento" name="check_isento"
                                                            class="form-check-input checkbox-input" value="true"
                                                            style="height: unset; align-self: flex-start; margin-top: 6px; margin-bottom: 100px;">
                                                        <label for="check_isento" id="label-isento"
                                                            class="form-check-label checkbox-label"
                                                            style="align-self: flex-start;">Isento</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="group-input">
                                                    <label for="nome_do_endereco">* Endereço</label>
                                                    <input type="text" id="nome_do_endereco" name="nome_do_endereco"
                                                        placeholder="* Nome do Endereço">
                                                    <span class="theTooltip">Preencha o campo Nome do Endereço</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="group-input">
                                                    <label for="" class="hiddenName">&nbsp;</label>
                                                    <input type="text" id="numero_endereco" placeholder="* Nº">
                                                    <span class="theTooltip">Preencha o campo Nº</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="group-input">
                                                    <label for="" class="hiddenName">&nbsp;</label>
                                                    <input type="text" id="complemento" name="complemento"
                                                        placeholder="Complemento">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="bairro">* Bairro</label>
                                                    <input type="text" id="bairro" name="bairro" placeholder="* Bairro">
                                                    <span class="theTooltip">Preencha o campo Bairro</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="ponto_referencia">Ponto de Referência</label>
                                                    <input type="text" id="ponto_referencia" name="ponto_referencia"
                                                        placeholder="Ponto de Referência">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="cep">* CEP</label>
                                                    <input type="text" id="cep" name="cep"
                                                        onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                                                        placeholder="* CEP">
                                                    <span class="theTooltip">Preencha o campo CEP</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="">* Estado</label>
                                                    <select class="custom-select" name="estado" id="estado"
                                                        name="estado">
                                                        <option selected value=""
                                                            style="background-color: #e6e6e6; font-weight: bold;">
                                                            Selecione
                                                        </option>
                                                        <option value="AC">Acre</option>
                                                        <option value="AL">Alagoas</option>
                                                        <option value="AP">Amapá</option>
                                                        <option value="AM">Amazonas</option>
                                                        <option value="BA">Bahia</option>
                                                        <option value="CE">Ceará</option>
                                                        <option value="DF">Distrito Federal</option>
                                                        <option value="ES">Espírito Santo</option>
                                                        <option value="GO">Goiás</option>
                                                        <option value="MA">Maranhão</option>
                                                        <option value="MT">Mato Grosso</option>
                                                        <option value="MS">Mato Grosso do Sul</option>
                                                        <option value="MG">Minas Gerais</option>
                                                        <option value="PA">Pará</option>
                                                        <option value="PB">Paraíba</option>
                                                        <option value="PR">Paraná</option>
                                                        <option value="PE">Pernambuco</option>
                                                        <option value="PI">Piauí</option>
                                                        <option value="RJ">Rio de Janeiro</option>
                                                        <option value="RN">Rio Grande do Norte</option>
                                                        <option value="RS">Rio Grande do Sul</option>
                                                        <option value="RO">Rondônia</option>
                                                        <option value="RR">Roraima</option>
                                                        <option value="SC">Santa Catarina</option>
                                                        <option value="SP">São Paulo</option>
                                                        <option value="SE">Sergipe</option>
                                                        <option value="TO">Tocantins</option>
                                                    </select>
                                                    <input type="hidden" id="hidden-estado">
                                                    <span class="theTooltip" id="tooltipEstado">Escolha um Estado</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="group-input">
                                                    <label for="cidade">* Cidade </label>
                                                    <input type="text" id="cidade" name="cidade" placeholder="* Cidade">
                                                    <span class="theTooltip">Preencha o campo Cidade</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container sua-conta" style="margin-top: 80px; margin-bottom: 80px; width: 70%;">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul class="nav nav-tabs tabs-register" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="fisica-tab" data-toggle="tab" role="tab"
                                    aria-controls="home" aria-selected="true">Sua conta</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel"
                                aria-labelledby="fisica-tab">
                                <div class="register-login-section spad">
                                    <div class="container">
                                        <div class="register-form">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="group-input">
                                                        <label for="telefone">* Telefone</label>
                                                        <input type="text" id="telefone" name="telefone"
                                                            placeholder="* Telefone"
                                                            onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
                                                        <span class="theTooltip">Preencha o campo Telefone</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="group-input">
                                                        <label for="outro_telefone">Outro Telefone</label>
                                                        <input type="text" id="outro_telefone" name="outro_telefone"
                                                            placeholder="Outro Telefone"
                                                            onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
                                                        <span class="theTooltip">Digite um Telefone Válido</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="group-input">
                                                        <label for="email">* Email</label>
                                                        <input type="text" id="email" name="email"
                                                            placeholder="* Email">
                                                        <span class="theTooltip">Preencha o campo Email</span>
                                                        <span style="font-size: 12px;" class="ml-3">A confirmação de
                                                            Cadastro será enviada ao seu email</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="group-input">
                                                        <label for="senha">* Senha</label>
                                                        <input type="password" id="senha" name="senha" maxlength="18"
                                                            placeholder="* Senha">
                                                        <span class="theTooltip">Preencha o campo Senha</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="group-input">
                                                        <label for="con-senha">* Confirmar Senha </label>
                                                        <input type="password" id="con_senha" name="con_senha"
                                                            maxlength="18" placeholder="* Confirmar Senha">
                                                        <span class="theTooltip">Preencha o campo Confirmar Senha</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="group-input">
                                                        <div class="form-check form-check-inline">
                                                            <input type="checkbox" id="check_ofertas"
                                                                name="check_ofertas"
                                                                class="form-check-input checkbox-input" value="true"
                                                                style="height: unset; align-self: flex-start; margin-top: 6px;"
                                                                checked>
                                                            <label for="check_ofertas"
                                                                class="form-check-label checkbox-label">Quero receber
                                                                por e-mail ofertas e novidades. A frequência de envios
                                                                pode variar de acordo com a interação do
                                                                cliente.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="group-input">
                                                        <div class="form-check form-check-inline">
                                                            <input type="checkbox" id="check_politica"
                                                                name="check_politica"
                                                                class="form-check-input checkbox-input" value="true"
                                                                style="height: unset; align-self: flex-start; margin-top: 6px; margin-bottom: 100px;"
                                                                checked>
                                                            <label for="check_politica" id="label-politica"
                                                                class="form-check-label checkbox-label"
                                                                style="align-self: flex-start;">Estou de acordo com o
                                                                uso de dados para compra e experiência conforme a <a
                                                                    href="/politica-de-privacidade"
                                                                    style="color: black;"> Política de Privacidade</a>
                                                                da Bella Clothes.</label>
                                                            <span class="theTooltip">É necessário marcar essa
                                                                opção</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row row-registrar-button">
                                                <div class="col-sm-12">
                                                    <button type="button" class="site-btn btn btn-success register-btn"
                                                        onclick="verificarFormulario();">Registrar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>

<script type="text/javascript" src="/js/jquery.phone.brazil.js"></script>