<div class="container-trocar-senha shadow-sm">
    <form action="/trocarSenha" method="POST">
        <i class="bi bi-lock-fill"></i>
        <h4>Trocar senha</h4>
        <input type="text" id="email" name="email" placeholder="Email da sua conta">
        <br>
        <input type="submit" value="Enviar email">
        <br>
        <div class="w-75 mx-auto mt-1"><a href="/login">Lembrou da sua senha? Clique aqui para fazer login</a></div>
    </form>
</div>