<div class="container-verificar-email shadow-sm">
    <i class="bi bi-envelope-fill"></i>
    <h4>Por favor, verifique seu email</h4>
    <p>Você está quase lá! Nós enviamos um email para</p>
    <p class="mb-4 font-weight-bold">{{email}}</p>
    <p>Basta clicar no link desse email para concluir seu cadastro.</p>
    <p>Se não o achar, pode ser necessário verificar a pasta de spam.</p>
    <p class="mt-4">Ainda não encontrou o email?</p>
    <a href="/reenviarEmail?email={{email}}&id={{emailTokenId}}">REENVIAR EMAIL</a>
</div>