<div class="container-verificar-email shadow-sm">
    <h4>Conta ativada</h4>
    <i class="bi bi-envelope-open-fill"></i>
    <h5>Olá {{nome}},</h5>
    <p>Seu email foi verificado. Sua conta agora está ativada.</p>
    <p>Por favor use esse link abaixo para fazer login em sua conta.</p>
    <a href="/login">Entrar na minha conta</a>
</div>