@media screen and (min-width: 769px) {
    .main-sidebar.fixed.open~div>.admin-content {
        margin-left: 253px;
        width: calc(100% - 253px);
        transition: margin-left 300ms, width 300ms;
    }
    .main-sidebar.fixed:not(.open)~div>.admin-content {
        margin-left: 80px;
        width: calc(100% - 80px);
        transition: margin-left 300ms, width 300ms;
    }
}

.main-navbar.fixed~.admin-content {
    padding-top: 72px !important;
    height: calc(100% - var(--footer-height)) !important;
}

a, a:hover, a:link, a:focus, a:visited {
    text-decoration: none !important;
}

.admin-content {
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--light);
    min-height: 100vh;
    height: calc(100% - (52px + var(--footer-height))) !important;
}

.admin-content.dark {
    background-color: #111111;
}

.admin-content * {
    color: black;
}

.admin-content.dark * {
    color: rgba(255, 255, 255, .9);
}

.admin-content .title {
    padding-bottom: 10px;
}

.admin-content .title span {
    font-size: 1.4rem;
}

.admin-content .card {
    box-shadow: 0 0 13px 0 rgb(82 63 105 / 5%) !important;
    width: 100%;
    border-radius: .30rem !important;
    border: 1px solid #ebedf2 !important;
}

.admin-content.dark .card {
    border-color: #121212 !important;
}

.admin-content .card.color-mode {
    background-color: white;
}

.admin-content .card.color-mode.dark {
    background-color: #1a1a1a;
}