:root {
    --sidebar-image: transparent;
    --sidebar-background-opacity: 0;
    --sidebar-color-mode-rgb: 248, 249, 250;
}

body {
    overflow-x: hidden;
}

.modal-background {
    z-index: 998;
}

.sidebar-link.active.only {
    /* border-left: 2px solid #19c880 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important; */
    background-image: linear-gradient(90deg, #65cca1, #19c880);
}

.main-sidebar.dark .sidebar-link.active.only {
    background-image: linear-gradient(90deg, #0c643f, #19c880);
}

.main-sidebar.dark .sidebar-link.active.only * {
    color: white !important;
}

.main-sidebar:not(.dark) .sidebar-link.active.only * {
    color: black !important;
}

.sidebar-link.active:not(.only) * {
    color: #19c880 !important;
}

.main-sidebar.dark .sidebar-link.active i.bi-chevron-right {
    -webkit-text-stroke: 1.5px white !important;
}

.main-sidebar:not(.dark) .sidebar-link.active i.bi-chevron-right {
    -webkit-text-stroke: 1.5px black !important;
}

@media screen and (max-width: 768px) {
    .main-sidebar {
        position: fixed !important;
        min-width: 0px !important;
        width: 0px;
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        padding-bottom: 50px;
        transition: width 400ms, min-width 400ms;
    }
    .main-sidebar.open {
        height: 100vh;
        position: fixed !important;
        min-width: 303px !important;
        width: 303px;
        overflow: auto;
        overflow-x: hidden;
        transition: width 400ms, min-width 400ms;
    }
}

@media screen and (min-width: 769px) {
    .main-sidebar {
        position: relative;
        min-width: 80px !important;
        width: 80px;
        height: auto;
        transition: width 300ms ease, min-width 300ms ease;
    }
    .main-sidebar.open {
        position: relative;
        height: auto;
        min-width: 253px !important;
        width: 253px !important;
        transition: width 300ms ease, min-width 300ms ease;
    }
    .main-sidebar .title-text {
        display: none;
    }
}

.main-sidebar {
    background: linear-gradient(rgba(var(--sidebar-color-mode-rgb), var(--sidebar-background-opacity)), rgba(var(--sidebar-color-mode-rgb), var(--sidebar-background-opacity))), var(--sidebar-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 999;
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .35), 0 10px 10px rgba(0, 0, 0, .32)!important;
}

@media screen and (max-width: 768px) {
    .main-sidebar {
        background-size: cover;
        background-position: center;
    }
}

.main-sidebar.fixed {
    height: 100vh;
    position: fixed;
}

.main-sidebar.fixed~div>.admin-content {
    transition: margin-left 300ms, width 300ms;
}

.main-sidebar.fixed.open~div>.admin-content {
    transition: margin-left 300ms, width 300ms;
}

.main-sidebar .title {
    padding-top: .5rem !important;
}

.main-sidebar.open .title-text {
    display: block;
}

.main-sidebar.open .sidebar {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.main-sidebar.fixed .sidebar {
    max-height: 89vh;
}

.main-sidebar .sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1rem !important;
}

.main-sidebar .sidebar .flex-list .sub-list .d-flex {
    padding-left: 25px !important;
}

.main-sidebar .sidebar p {
    display: none;
}

.main-sidebar.open .sidebar p {
    display: block;
}

.main-sidebar i.bi-chevron-right {
    padding-left: 5px;
}

.main-sidebar h5, .main-sidebar h4, .main-sidebar h3, .main-sidebar h2, .main-sidebar h1, .main-sidebar p {
    margin: 0;
}

.main-sidebar a {
    text-decoration: none !important;
}

.main-sidebar hr {
    background-color: #e8e8e8;
}

.main-sidebar.dark hr {
    background-color: #4f5962;
}

.main-sidebar .d-flex {
    align-items: center;
}

.main-sidebar .title-image {
    height: 27px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)!important;
}

.main-sidebar .title-text {
    display: none;
    color: grey;
}

.main-sidebar.dark .title-text {
    color: rgba(255, 255, 255, .8);
}

.main-sidebar .title:hover .title-text {
    color: black;
}

.main-sidebar.dark .title:hover .title-text {
    color: white;
}

.main-sidebar .sidebar::-webkit-scrollbar {
    width: 10px;
}

.main-sidebar .sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.main-sidebar .sidebar::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: .1rem;
}

.sidebar .user-image {
    background-image: var(--foto-perfil-usuario);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 5px !important;
    margin-bottom: 0 !important;
    width: 35px !important;
    height: 35px !important;
    max-width: 35px !important;
    max-height: 35px !important;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)!important;
}

.main-sidebar .sidebar i {
    font-size: 22px;
    color: grey;
    transition: font-size 300ms;
}

.main-sidebar.small-text .sidebar i {
    font-size: 18px !important;
    color: grey;
    transition: font-size 300ms;
}

.main-sidebar.dark .sidebar i {
    color: rgba(255, 255, 255, .8);
}

.main-sidebar .sidebar i.bi-chevron-right {
    font-size: 11px;
    -webkit-text-stroke: 1.5px grey;
    transition: font-size, transform 300ms;
}

.main-sidebar.small-text .sidebar i.bi-chevron-right {
    font-size: 10px !important;
    -webkit-text-stroke: 1.5px grey;
    transition: font-size, transform 300ms;
}

.main-sidebar.dark .sidebar i.bi-chevron-right {
    font-size: 11px;
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, .8);
}

.main-sidebar .sidebar p, .main-sidebar .sidebar h1, .main-sidebar .sidebar h2, .main-sidebar .sidebar h3, .main-sidebar .sidebar h4, .main-sidebar .sidebar h5 {
    color: grey;
    padding-left: 9px;
    padding-right: 1px;
    font-size: 0.9rem !important;
    transition: font-size 300ms;
}

.main-sidebar.small-text .sidebar p, .main-sidebar.small-text .sidebar h1, .main-sidebar.small-text .sidebar h2, .main-sidebar.small-text .sidebar h3, .main-sidebar.small-text .sidebar h4, .main-sidebar.small-text .sidebar h5 {
    color: grey;
    padding-left: 9px;
    padding-right: 1px;
    font-size: 0.75rem !important;
    transition: font-size 300ms;
}

.main-sidebar.dark .sidebar p, .main-sidebar.dark .sidebar h1, .main-sidebar.dark .sidebar h2, .main-sidebar.dark .sidebar h3, .main-sidebar.dark .sidebar h4, .main-sidebar.dark .sidebar h5 {
    color: rgba(255, 255, 255, .8);
    padding-left: 9px;
}

.main-sidebar .sidebar .d-flex {
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 0.5rem;
    transition: padding 300ms, background-color 200ms;
}

.main-sidebar:not(.open) .sidebar .d-flex, .main-sidebar.compact:not(.open) .sidebar .d-flex {
    border-radius: 0 !important;
}

.main-sidebar.compact .sidebar .d-flex {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0.5rem;
    transition: padding 300ms;
}

.main-sidebar .sidebar .d-flex:hover {
    cursor: pointer;
    background-color: rgba(140, 140, 140, 0.15);
    transition: background-color 200ms;
}

.main-sidebar.dark .sidebar .d-flex:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    transition: background-color 200ms;
}

.main-sidebar .sidebar .d-flex:hover p, .main-sidebar .sidebar .d-flex:hover h1, .main-sidebar .sidebar .d-flex:hover h2, .main-sidebar .sidebar .d-flex:hover h3, .main-sidebar .sidebar .d-flex:hover h4, .main-sidebar .sidebar .d-flex:hover h5, .main-sidebar .sidebar .d-flex:hover i {
    color: black;
}

.main-sidebar.dark .sidebar .d-flex:hover p, .main-sidebar.dark .sidebar .d-flex:hover h1, .main-sidebar.dark .sidebar .d-flex:hover h2, .main-sidebar.dark .sidebar .d-flex:hover h3, .main-sidebar.dark .sidebar .d-flex:hover h4, .main-sidebar.dark .sidebar .d-flex:hover h5, .main-sidebar.dark .sidebar .d-flex:hover i {
    color: white;
}

.sidebar .user-name {
    font-size: 0.95em;
}

.main-sidebar.open .sidebar .flex-list .sub-list .d-flex {
    padding-left: 40px !important;
}

.flex-list .sub-list {
    height: 0px;
    transition: height 300ms ease;
    overflow: hidden;
    transition-delay: 0s;
}

.flex-list .sub-list hr {
    margin: 2px auto 2px auto;
    width: 75%;
}

.flex-list.open .bi-chevron-right {
    transform: rotateZ(90deg) translateX(-1.5px);
}

.logout * {
    color: rgb(255, 0, 68) !important;
}